@import "../../../../styles.scss";
@import "../../channel/channel.component.scss";
.avatar-image{
    position: relative;
    width:60px;
    height:60px;
    border-radius: 100%;
}
.avatar-images{
    width:100%;
    height:140px;
    @include dFlex($g:8px); 
    flex-wrap: wrap;
}
.dummy-profile{
    @include dFlex();
    >img{
        width:168px;
        height:168px;
        border-radius: 100%;
    }
}