@import "../../../../styles.scss";
@import "../channel.component.scss";
.open-dtls-chnnl-parent{
    @include dFlex();
    position: absolute;
    right: -1.5vW;
    left: revert-layer;
    top: revert-layer;
    bottom: -8vH;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vW;
    height: 100vH;
    @media(max-width:800px){
        position: absolute;
        right: -0.5vW;
        left: -0.5vW;
        top: -10vH;
        bottom: -8vH;
        background-color: transparent;
    }
}
.open-dtls-chnnl-child{
    background-color: white;
    width: 872px;
    height: 616px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding:20px;
    @include dFlex($fd:column, $g:16px);
    @media(max-width:800px){
        width:94vW;
        height: 94vH;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        padding: 2vH 2vW;
        justify-content: flex-start;
    }
}
.open-dtls-chnnl-head{
    @include dFlex($jc:space-between);
    width:100%;
}
.open-dtls-chnnl-name-parent{
    border: 1px solid #ADB0D9;
    width: 792px;
    height: 114px;
    border-radius: 20px;
    border-width: 1px;
    padding: 20px;
    gap: 20px;
    @media(max-width:800px){
        width:100%;
        padding:4px;
    }
}
.open-dtls-chnnl-name-input{
    @include dFlex($jc:flex-start);

}
.open-dtls-chnnl-middle{
    border: 1px solid #ADB0D9;
    width: 792px;
    border-radius: 20px;
    border-width: 1px;
    padding: 20px;
    @include dFlex($ai:flex-start, $g:20px, $fd:column);
    @media(max-width:800px){
        width:100%;
        // height: 20px;
        padding:4px;
    }
}
.open-dtls-chnnl-name{
    @include dFlex($jc:space-between);
    width:100%;
}
.open-dtls-chnnl-delete-btn-parent{
    @include dFlex($jc:flex-end);
    width:100%;
}
.black-line{
    width:100%;
    height:2px;
    background-color: #ADB0D9;
}
.mmbr-of-chnnl-parent{
    display: none;
    width:414px;
    height:200px;
    background-color: white;
    border: 1px solid #ADB0D9;
    border-radius: 30px;
    padding:40px;
    @media(max-width:800px){
        @include dFlex($fd:column, $g:20px, $ai:flex-start);
        width:100%;
        height:auto;
        padding:4px;
    }
}
.mmbr-of-chnnl-list-parent{
    overflow-y: scroll;
    height:80%;
    width:100%;
    scrollbar-width: none;
}
.mmbr-of-chnnl-head{
    @include dFlex($jc:space-between);
    width:100%;
}
.mmbr-of-chnnl-list{
    @include dFlex($g:16px, $jc:flex-start);
}
.mmbr-of-chnnl-pic{
    width:40px;
    height:40px;
    border-radius: 30px;
    border: 2px solid white;
    @media(max-width:800px){
        width:20px;
        height:20px;
    }
}
.mmbr-of-chnnl-pic-button{
    @include dFlex();
    background-color: white;
    border:none;
}
textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: white;
    font-size: 12px;
    resize: none;
    font-family: 'Nunito';
}
.add-member-img{
    width:20px;
    height:20px;
}
.resp-edit-img{
    display:none;
    @media(max-width:800px){
        @include dFlex();
        width:20px;
        height:20px;
    }
}
.button-text{
    @media(max-width:800px){
        display:none;
    }
}