@import '../../styles.scss';
@import '../../font.scss';
.start-area{
    width:99vW;
    min-height:100vH;
    background-color:#ECEEFE ;
    padding:32px;
}
header{
    height:120px;
    width:100vW;
    @include dFlex($jc:space-between)
}
.logo{
    // background-color: rgb(177, 54, 195);
    // animation-name: startLogo;
    animation-duration: 4s;
    @include dFlex($jc:flex-start);
    >svg{
        width:40px;
        height:40px;
        position: relative;
        // animation-name: startLogoSvg;
        animation-duration: 4s;
    }
    >.da-title{
        font-size: 25px;
        font-family: "Nunito";
        color:rgb(6, 6, 6);
    }
}
@keyframes startLogo {
    0%   {transform: scale(1); top: 0; left: 0;right:0; position: absolute; width: 100vw; height: 100vh;}
    100% {transform: scale(1); top: 0; left: 0; right:unset; position: absolute; width: 50vw; height: 10vh; }
}

@keyframes startLogoSvg {
    0%   {transform: scale(1); top: 0; left: 0; position: relative; width: 400px; height: auto;}
    100% {transform: scale(1); top: 0; left: 0; position: relative; width: 40px; height: auto; }
}
.new-account-link{
    // position: absolute;
    // right:25px;
    >p{
        font-family: "Nunito";
        font-size: 18px;
    }
}
.create-btn{
    color:#797EF3;
    font-family: "Figtree";
    font-size:18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.dialog-section{
    position: relative;
    min-height: 50vH;
    width:100vW;
    // @include dFlex($ai:flex-start);
}
.dialog-area{
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 30%;
    border-radius: 30px;
    background-color: #FFFFFF;
}
footer{
    position: absolute;
    bottom:120px;
    left: 0;
    right:0;
    height:30px;
    @include dFlex($jc:space-around);
    >a{
        font-family: "Figtree";
        color:#797EF3;
        text-decoration: none;
    }

}