@import '../../styles.scss';
@import '../../font.scss';
.start-area{
    height:100vH;
    padding:0px 32px 0px 32px;
    position: relative;
    @media(max-width:800px){
        padding:0px 28px 0px 28px;
        @include dFlex($fd:column, $jc:flex-start);
    }
}
header{ 
    height:15vH;
    width:100%;
    z-index:2;
    @include dFlex($jc:space-between);
    @media (max-width:800px) {
        justify-content:center;
        position: relative;
        bottom: 1vH;
    }
}
.logo{
    // background-color: rgb(177, 54, 195);
    // animation-name: startLogo;
    animation-duration: 4s;
    @include dFlex($jc:flex-start);
    >svg{
        width:40px;
        height:40px;
        position: relative;
        // animation-name: startLogoSvg;
        animation-duration: 4s;
    }
    >.da-title{
        font-size: 25px;
        font-family: "Nunito";
        color:rgb(6, 6, 6);
    }
    
}
@keyframes startLogo {
    0%   {transform: scale(1); top: 0; left: 0;right:0; position: absolute; width: 100vw; height: 100vh;}
    100% {transform: scale(1); top: 0; left: 0; right:unset; position: absolute; width: 50vw; height: 10vh; }
}

@keyframes startLogoSvg {
    0%   {transform: scale(1); top: 0; left: 0; position: relative; width: 400px; height: auto;}
    100% {transform: scale(1); top: 0; left: 0; position: relative; width: 40px; height: auto; }
}
.new-account-link{
    >p{
        font-family: "Nunito";
        font-size: 18px;
        margin:2px;
    }
    @media (max-width: 800px) {
        // position: absolute;
        // bottom:15vH;
        // width:90vW;
        // @include dFlex($fd:column);
        display: none;
    }

}
.new-account-link-res{
    display:none;
    >p{
        font-family: "Nunito";
        font-size: 14px;
        margin:2px;
    }
    @media (max-width: 800px) {
        position: relative;
        top:2vH;
        @include dFlex($fd:column);
    }
}
.create-btn{
    transition: 500ms;
    color:#797EF3;
    font-family: "Figtree";
    font-size:18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:hover{
        scale:1.1;
        color:#444DF2;
    }
    @media (max-width: 800px) {
        font-size: 14px;
        width: auto;
        height:auto;
        padding: 6px;
        border:solid 1px;
        border-radius: 25px;
        border-color: #444DF2;
        color:#444DF2;
        cursor: pointer;
        text-align: center;
        &:hover{
            transition: 500ms;
            scale: 1.1;
        }
    }
}
.dialog-section{
    position: relative;
    min-height: 50vH;
    width:100%;
    @include dFlex();
    @media (max-width: 800px) {
        @include dFlex();
      }
}
.dialog-area{
    width: 50%;
    height: 100%;
    // position: relative;
    // top: 0px;
    // left: 30%;
    border-radius: 30px;
    background-color: #FFFFFF;
    padding:32px 16px;
    @media (max-width: 800px) {
        width:90%;
        left:0px;
        height:fit-content;
    }
}
footer{
    height:10vH;
    position: absolute;
    bottom:5vH;
    // top:;
    left: 0;
    right:0;
    padding:24px;
    height:30px;
    @include dFlex($jc:space-around);
    @media (max-width: 800px) {
       bottom:1vH;
       padding:12px 0px;
       height:0px;
    }
    @media(max-height:610px){
        bottom:1vH;
        padding:1vH 0vW;
        height:0px;
    }
}
.link-ida{
    font-family: "Figtree";
    color:#797EF3;
    text-decoration: none;
}
.link-ida:hover{
    transition: 500ms;
    color:#444DF2;
    scale:1.1;
}