<div class="parent">

    <h2>Anmeldung</h2>
    <h4 class="txt-center">Wir empfehlen dir die E-Mail Adresse zu benutzen, die du bei der Arbeit verwendest</h4>

    
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    
        <!-- Fehler für die E-Mail -->
         @if((errorMessage === 'Bitte geben Sie eine gültige E-Mail ein' || (email.touched && email.invalid))){
            <label class="error-label">
                @if(!errorMessage){
                    Bitte füge eine gültige E-Mail ein.
                }
                {{ errorMessage }}
            </label>
         }
        
        <div class="input-area">
            <img src="./assets/img/mail.png" alt="mail">
            <input #email="ngModel" 
                   [(ngModel)]="loginData.email" 
                   name="email"
                   class="mail-input" 
                   type="email" 
                   placeholder="E-Mail" 
                   required
                   pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
        </div>
    
        <!-- Fehler für das Passwort -->
         @if((password.touched && password.invalid) || errorMessage === 'Bitte geben Sie ein Passwort ein' || errorMessage === 'Leider ist das Passwort falsch'){
            <label class="error-label" >
                @if(!errorMessage){
                    Bitte füge ein gültiges Passwort ein.
                }
                {{ errorMessage }}
            </label>
         }
        <div class="input-area ">
            <img src="./assets/img/lock.png" alt="lock">
            <input #password="ngModel" 
                   [(ngModel)]="loginData.password" 
                   name="password"
                   class="password-input" 
                   [type]="showPassword ? 'text' : 'password'"  
                   placeholder="Passwort" 
                   required
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            <button type="button" (click)="togglePasswordVisibility()" class="toggle-password-btn">
                <img [src]="showPassword ? './assets/img/visibility-on.png' : './assets/img/visibility-off.png'" 
                alt="Toggle Password Visibility">
            </button>
        </div>
        
        @if(errorMessage === 'Leider ist das Passwort oder die E-Mail falsch'){
            <label class="error-label" >
                {{ errorMessage }}
            </label>
         }
    
        <button class="forgot-password-btn" (click)="goToForgotPassword()">Passwort vergessen?</button>
    
        <div class="or-line">
            <div class="black-line"></div>
            ODER
            <div class="black-line"></div>
        </div>
    
        <button type="button" class="google-btn" (click)="loginWithGoogle()">
            <img class="google-logo" src="./assets/img/Google.png" alt="google-logo">
            Anmelden mit Google
        </button>
    
        <div class="login-btns">
            <button class="blue-btn" type="submit" [disabled]="loginForm.invalid">Anmelden</button>
            <button class="white-btn" type="button" (click)="visitorLogin()">Gäste Login</button>
        </div>
    
    </form>
     

</div>