<div class="parent">

    <h2>Anmeldung</h2>
    <h4>Wir empfehlen dir die E-Mail Adresse zu benutzen, die du bei der Arbeit verwendest</h4>

    @if(errorMessage){
        <div>{{errorMessage}}</div>
    }
    <form [formGroup] ="form" (ngSubmit)="onSubmit()">
        <input class="mail-input " formControlName="email" type="email" placeholder="E-Mail">
        <input class="password-input" formControlName="password" type="password" placeholder="Passwort">
    
        <button class="forgot-password-btn"  (click)="goToForgotPassword()">Passwort vergessen?</button>

        <div class="or-line">
            <div class="black-line"></div>
            ODER
            <div class="black-line"></div>
        </div>

        <button class="google-btn" (click)="loginWithGoogle()">
            <img src="assets/img/Google.png" alt="google-logo">
            Anmelden mit Google
        </button>
        <div class="login-btns">
            <button class="sign-in-btn" type="submit">Anmelden</button>
            <button class="visit-btn" type="button" onclick="visitorLogin()">Gäste Login</button>
        </div>
        
    </form>
     

</div>