@import "../../../font.scss";
@import '../../../styles.scss';

.forgot-password-btn{
    transition: 125ms;
    font-family: 'Figtree';
    font-size:18px;
    font-weight:400;
    color:#2796BF;
    line-height: 21.6px;
    border:none;
    background-color: transparent;
    cursor: pointer;
}
.forgot-password-btn:hover{
    color:#444DF2;
}
.google-btn{
    transition: 500ms;
    font-family: 'Figtree';
    font-size:18px;
    font-weight:400;
    color:#2796BF;
    border:none;
    line-height: 21.6px;
    border-radius: 100px;
    background-color: #ECEEFE;
    cursor: pointer;
    width:80%;
    height:auto;
    @include dFlex()
}
.google-btn:hover{
    scale:1.1;
    background-color: #444DF2;
    color:white;
}
.parent{
    @include dFlex($fd:column);
}
.black-line{
    background-color: black;
    min-width:10vW;
    height:1px;
    flex:1;
}
.or-line{
    @include dFlex();
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
}
.login-btns{
    @include dFlex();
    gap:16px;  
}
.google-logo{
    width:25px;
    height:25px;
}
