<!-- This component should be the first dialog who is availlable at login -->

<h2>Anmeldung</h2>
<p>Wir empfehlen dir die E-Mail Adresse zu benutzen, die du bei der Arbeit verwendest</p>

<input type="email" placeholder="E-Mail">
<input type="password" placeholder="Passwort">

<!-- If you click on that button you get to a new dialog -->
<button>Passwort vergessen?</button>

<div>
    <div></div>
    <p>oder</p>
    <div></div>
</div>

<button>
    <img src="" alt="google-logo">
    <p>Anmelden mit Google</p>
</button>

<button>Anmelden</button>
<button>Gäste Login</button>