@import "../../../font.scss";
@import '../../../styles.scss';

h2{
    font-family: 'Nunito';
    font-size:46px;
    font-weight: 700;
}
h4{
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
input{
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
}
.forgot-password-btn{
    font-family: 'Figtree';
    font-size:18px;
    font-weight:400;
    color:#2796BF;
    line-height: 21.6px;
    border:none;
    background-color: transparent;
    cursor: pointer;

}
.google-btn{
    font-family: 'Figtree';
    font-size:18px;
    font-weight:400;
    color:#2796BF;
    border:none;
    line-height: 21.6px;
    border-radius: 100px;
    background-color: #ECEEFE;
    cursor: pointer;
    width:80%;
    height:auto;
    @include dFlex()
}
form{
    @include dFlex($fd:column);
}
.parent{
    @include dFlex($fd:column);
}
.black-line{
    background-color: black;
    min-width:10vW;
    height:1px;
    flex:1;
}
.or-line{
    @include dFlex();
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
}
.sign-in-btn{
    width: 137px;
    height: 49px;
    padding: 12px 25px 12px 25px;
    gap: 10px;
    border-radius: 25px;
    color:white;
    background-color: #444DF2;
}
.visit-btn{
    width: 137px;
    height: 49px;
    padding: 12px 25px 12px 25px;
    gap: 10px;
    border-radius: 25px;
    border-color: #444DF2;
    color:#444DF2;
    background-color: #FFFFFF;
}
.login-btns{
    @include dFlex();
}
.mail-input{
    padding-left: 25px;
    background: url(/assets/img/mail.png) no-repeat left;
    background-size: 20px
}
.password-input{
    padding-left: 25px;
    background: url(/assets/img/lock.png) no-repeat left;
    background-size: 20px
}
input{
    // width: 500px;
    // height: 60px;
    padding: 18px 32px 18px 32px;
    gap: 10px;
    border-radius: 100px;
    border: 0px 0px 1px 0px;
    background-color: #ECEEFE;
    color:grey;
}