@import '../../styles.scss';
.hole-page{
    height:100vH;
}
.change-sidenav-status-btn{
    writing-mode:vertical-rl;
    background-color: white;
    font-family: "Nunito";
    font-weight: 500;
    width: 60px;
    height: 347px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-top: 23px;
    padding-right: 14px;
    padding-bottom: 23px;
    padding-left: 14px;
    box-shadow: 4px 4px 7px 0px #00000033;
    border: none;
    position: absolute;
    left:0;
    top:36vH;
}
.main-content{
    @include dFlex($g:16px);
    padding:32px;
    height: 80vH;
}
.chat-area{
    flex:1;
    background-color: white;
    height:100%;
    border-radius: 42px;
}
.chat-area-child{
    padding:20px;
}
.sidenav-area{
    width:30vW;
    height:100%;
    background-color: white;
    border-radius: 42px;
}
.add-chn-dia-parent{
    position: absolute;
    right:0;
    left:0;
    top:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.4);
}
.add-channel-dialog{
    display: flex;
    background-color: white;
    height: 70%;
    border-radius: 42px;
    margin: 5% 10%;
    border-color: black;
    width: 872px;
    height: 539px;
    border-radius: 30px;
    padding: 40px;
    gap: 20px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    justify-content: center;
}
.add-chnnl-form{
    @include dFlex($ai:baseline, $fd:column, $g:20px);
}
.add-chnnl-head{
    @include dFlex($jc:space-between);
}
.add-chnnl-input-name{
    width: 780px;
    height: 40px;
    padding:0px;
}
.add-chnnl-name{
    border: 1px solid #ADB0D9;
    width: 792px;
    height: 40px;
    border-radius: 40px;
    @include dFlex($g:20px);
    border-width: 1px;
    padding-top: 18px;
    padding-right: 20px;
    padding-bottom: 18px;
    padding-left: 20px;
}
.add-chnnl-description{
    @include dFlex();
}
.add-chnnl-input-descr{
    width: 792px;
    height: 65px;
    border-radius: 30px;
    padding: 20px;
    gap: 30px;
    border-width: 1px;
    border: 1px solid #ADB0D9;
}
.add-chnnl-btn-parent{
    width:100%;
    @include dFlex($jc:flex-end);
}
textarea{
    resize:none;
}
.blue-font{
    color:#797EF3;
}

