<div class="hole-page">
    <app-header (openChat)="openChat($event)" (goBackToDevspace)="startNewChat()" (oChannel)="openChannel($event)" [currentChannel]="currentChannel" [currentChat]="currentChat" [userChats]="userChats"></app-header>
<section class="main-content">
    
    @if(sidenavIsOpen && userData !=null && userChats !=null){
        <div class="sidenav-area" [ngClass]="{'hidden': isChatActive()}"> 
            <app-sidenav [userData]="userData" [userChats]="userChats" (newChat)="openChat($event)" (newChannel)="openChannel($event)" (openAddChannel)="addChannelDialog()" (startNewChatClicked)="startNewChat()"></app-sidenav>
        </div>
    }
    <button class="change-sidenav-status-btn" (click)="changeSidenavStatus()">
        {{sidenavButtonText}}
        <img src="./assets/img/show_menu.png" alt="show-menu">
    </button>
    <div class="chat-area" id="chat-area"[ngClass]="{'hidden': !isChatActive()}"> 
        @if(currentChannel!=null){
            <app-channel [currentChannelName]="currentChannelName" (openChat)="openChat($event)"></app-channel>
        }
        @if(currentChat!=null){
            <app-chat [currentChatId]="currentChatId" [userChats]="userChats"></app-chat>
        }
        @if(currentChannel==null && currentChat==null){
            <app-start-new-chat (oChannel)="openChannel($event)" [userData]="userData" (openChat)="openChat($event)"></app-start-new-chat>
        }
    </div>
    @if(addChannelOpen){
        <div class="add-chn-dia-parent">
        <app-add-channel-dialog (closeChannel)="addChannelDialog()" ></app-add-channel-dialog>
        </div>
    }  

</section>
</div>


