@import '../../styles.scss';
.hole-page{
    height:100vH;
}
.change-sidenav-status-btn{
    writing-mode:vertical-rl;
    border-radius: 0 42px 42px 0;
    box-shadow: 1px 1px 2px 1px #00000033;
    border-color: transparent;
    background-color: white;
    padding:8px;
    font-family: "Nunito";
    font-weight: 500;
}
.main-content{
    @include dFlex();
    padding:32px;
    height: 80vH;
}
.chat-area{
    flex:1;
    background-color: white;
    height:100%;
    border-radius: 42px;
}
.sidenav-area{
    width:30vW;
    height:100%;
    background-color: white;
    border-radius: 42px;
}
.sidenav-head{
    @include dFlex();
}
.add-channel{
    @include dFlex();
}
.text-pctr{
    @include dFlex($g:16px);
}
.img-and-txt-pctr{
    @include dFlex($g:16px, $jc:flex-start);
    padding:0px 24px;
}
.sidenav-head{
    @include dFlex($jc:space-between);
    padding: 0px 24px;
}
.devspace-in-ri{
    @include dFlex($g:16px);
}
