<div class="hole-page">
    <app-header></app-header>
<section class="main-content">
    
    @if(sidenavIsOpen && userData !=null && userChats !=null){
        <div class="sidenav-area">
            <app-sidenav [userData]="userData" [userChats]="userChats" (newChat)="openChat($event)" (newChannel)="openChannel($event)" (openAddChannel)="addChannelDialog()"></app-sidenav>
        </div>
    }
    <button class="change-sidenav-status-btn" (click)="changeSidenavStatus()">
        {{sidenavButtonText}}
        <img src="/assets/img/show_menu.png" alt="show-menu">
    </button>
    <div class="chat-area"> 
        @if(currentChannel!=null && currentChat == null){
            <!-- <div class="chat-area-child">
                <div class="header-of-channel">
                    <div class="header-of-channel-left">
                        <h3># {{currentChannel.name}}</h3>
                        <img (click)="openDetailsAboutChannel()" src="/assets/img/key_arrow_down.png" alt="">
                    </div>
                    @if(addMemberToChannel){
                        <div class="add-mmbr-parent">
                            <div class="add-mmbr-head">
                                <h3>Leute hinzufügen</h3>
                                <img (click)="addMembersToChannelDialog()" src="/assets/img/close.png" alt="x">
                            </div>
                            <h5 class="add-mmbr-chnnl-nm"># {{currentChannel.name}}</h5>
                            <form [formGroup] ="addMemberForm" (ngSubmit)="addMembersToChannel(currentChannel.name)">
                                <input formControlName="name" class="input-name" type="text" placeholder="Name eingeben">
                                <div class="add-mmbr-btn-parent">
                                    <button class="gray-btn" type="submit">Hinzufügen</button>
                                </div>
                            </form>
                        </div>
                    }
                    @if(membersOfChannelList){
                        <div class="mmbr-of-chnnl-parent">
                            <div class="mmbr-of-chnnl-head">
                                <h3>Mitglieder</h3>
                                <img (click)="openMembersList()" src="/assets/img/close.png" alt="x">
                            </div>
                            <div class="mmbr-of-chnnl-list-parent">
                                @for(item of currentChannel ? currentChannel.members: ["Lisa"]; track item; let idx = $index){
                                    <div (click)="openUserDetails(idx)" class="mmbr-of-chnnl-list">
                                        <img class="mmbr-of-chnnl-pic" src="{{item.fotolink}}" alt="">
                                        <img src="" alt="online"> 
                                        <h4>{{item.username}}</h4>
                                    </div>
                                }
                            </div>
                            <button (click)="addMembersToChannelDialog()" class="mmbr-of-chnnl-pic-button">
                                <img src="/assets/img/add-members.png" alt="">
                                <h4>Mitglieder hinzufügen</h4>
                            </button>
                        </div>

                    }
                    @if(memberDetails){
                        <div class="mmbr-dtls-parent">
                            <div>
                                <h3>Profil</h3>
                                <img (click)="openUserDetails(9999)" src="/assets/img/close.png" alt="">
                            </div>
                            <img class="mmbr-details-img" src="{{currentProfileDetail.fotolink}}" alt="">
                            <h3>{{currentProfileDetail.name}}</h3>
                            <div>
                                <img src="/assets/img/mail.png" alt="email">
                                <h5>E-Mail-Adresse</h5>
                            </div>
                            <h4 class="blue-font">{{currentProfileDetail.email}}</h4>
                            <button class="blue-btn" (click)="goToPersonalMessages()">Nachricht</button>
                        </div>
                    }
                    <div class="header-of-channel-right">
                        <div class="members-pic">
                        @for(item of currentChannel ? currentChannel.members: ["Lisa"]; track item){
                            <img (click)="openMembersList()" class="chnnl-memb-pic" src="{{item.fotolink}}" alt="profile">
                        }
                        </div>
                        <h5 class="mmber-amount">{{currentChannel.membersAmount}}</h5>
                        <img (click)="addMembersToChannelDialog()" src="/assets/img/add-members.png" alt="addMembers">
                    </div>
                </div>
                <div class="channel-chat">
                    <h3 class="margin-5px"> # {{currentChannel.name}}</h3>
                    @if(currentChannel.created.createdFrom == userData?.name){
                        <h4>Du hast diesen Channel am {{currentChannel.created.createdAt}} erstellt.
                            Das ist der Anfang des Channels <span class="blue-font"># {{currentChannel.name}}</span>.
                        </h4>
                    }@else {
                        <h4 class="margin-5px">{{currentChannel.created.createdFrom}} hat diesen Channel am 
                            {{currentChannel.created.createdAt}} erstellt.
                            Das ist der Anfang des Channels <span class="blue-font">#{{currentChannel.name}}</span>.
                        </h4>
                    }
                    @for(item of currentChannel ? currentChannel.messages : ["Lisa"]; track item; let idx = $index){
                        @if(this.userData && item.editing ==false){
                            @if(item.uid != this.userData.uid){
                                <div class="msg-pic-and-text">
                            @if(item.fotolink){
                                <img  class="msg-sender-pic" src="{{item? item.fotolink: '/assets/img/profile.png'}}" alt="profile">  
                            }
                            <div class="msg-text-area">
                                <div class="msg-name-and-time">
                                    <h4 class="margin-5px">{{item? item.username:"565656"}}</h4>
                                    <h6 class="margin-5px">{{item? item.timestamp: "Keine Zeit"}}</h6>
                                </div>
                                <div (click)="startEditMessage(idx)" class="msg-message">
                                    <h4 class="margin-5px">{{item? item.message :"Hey"}}</h4>
                                </div> 
                            </div>
                        </div>
                            }
                            @else {
                                <div class="my-msg-pic-and-text">
                                    @if(item.fotolink){
                                        <img  class="msg-sender-pic" src="{{item? item.fotolink: '/assets/img/profile.png'}}" alt="profile">  
                                    }
                                    <div class="my-msg-text-area">
                                        <div class="my-msg-name-and-time">
                                            <h4 class="margin-5px">{{item? item.username:"565656"}}</h4>
                                            <h6 class="margin-5px">{{item? item.timestamp: "Keine Zeit"}}</h6>
                                        </div>
                                        <div (click)="startEditMessage(idx)" class="my-msg-message">
                                            <h4 class="margin-5px">{{item? item.message :"Hey"}}</h4>
                                        </div> 
                                    </div>
                                </div>
                            }
                        }@else if(this.userData && item.editing ==true){
                            @if(item.uid != this.userData.uid){
                                <div class="msg-pic-and-text">
                            @if(item.fotolink){
                                <img  class="msg-sender-pic" src="{{item? item.fotolink: '/assets/img/profile.png'}}" alt="profile">  
                            }
                            <div class="msg-text-area">
                                <div class="msg-name-and-time">
                                    <h4 class="margin-5px">{{item? item.username:"565656"}}</h4>
                                    <h6 class="margin-5px">{{item? item.timestamp: "Keine Zeit"}}</h6>
                                </div>
                                <div (click)="startEditMessage(idx)" class="msg-message">
                                    <h4 class="margin-5px">{{item? item.message :"Hey"}}</h4>
                                </div> 
                            </div>
                        </div>
                            }
                            @else {
                                <div class="my-msg-pic-and-text">
                                    @if(item.fotolink){
                                        <img  class="msg-sender-pic" src="{{item? item.fotolink: '/assets/img/profile.png'}}" alt="profile">  
                                    }
                                    <div class="my-msg-text-area">
                                        <div class="my-msg-name-and-time">
                                            <h4 class="margin-5px">{{item? item.username:"565656"}}</h4>
                                            <h6 class="margin-5px">{{item? item.timestamp: "Keine Zeit"}}</h6>
                                        </div>
                                        <div class="my-msg-message">
                                            <form class="edit-message-form" [formGroup] ="editMessageForm" (ngSubmit)="editMessage('hey')">
                                                <textarea formControlName="message" class="margin-5px" placeholder={{item.message}}></textarea>
                                                <button type="button" (click)="closeEditMessage(idx)">Abbrechen</button>
                                                <button type="submit">Speichern</button>
                                            </form>
                                        </div> 
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                <form class="messages-form" [formGroup] ="sendMessageForm" (ngSubmit)="sendMessage('Wuhu')">
                    <textarea formControlName="message" type="text" placeholder="Deine Nachricht hier eingeben">
                    </textarea>
                    <button type="submit">
                        <img src="/assets/img/send.png" alt="send">
                    </button>
                </form>   
            </div> 
            @if(openDetailsOfChannel && !editChannel){
              <div class="open-dtls-chnnl-parent">
                <div class="open-dtls-chnnl-child">
                    <div class="open-dtls-chnnl-head">
                        <h3># {{currentChannel.name}}</h3>
                        <img (click)="openDetailsAboutChannel()" src="/assets/img/close.png" alt="x">
                    </div>
                    <div class="open-dtls-chnnl-name-parent">
                        <div class="open-dtls-chnnl-name">
                            <h3 class="fs-18">Channel Name</h3>
                            <h4 (click)="openEditChannel()"><span class="blue-font">Bearbeiten</span></h4>
                        </div> 
                        <div class="open-dtls-chnnl-name-input">
                                #
                                <span class="open-dtls-chnnl-input-name">{{currentChannel.name}}</span>  
                        </div>
                    </div>
                    <div class="open-dtls-chnnl-middle">
                        <div class="open-dtls-chnnl-name">
                            <h3 class="fs-18">Beschreibung</h3>
                            <h4 (click)="openEditChannel()"><span class="blue-font">Bearbeiten</span></h4>
                        </div> 
                        <h6>{{currentChannel.description}}</h6>
                        <div class="black-line"></div>
                        <h3 class="fs-18">Erstellt von</h3>
                        <h4 class="blue-font" >{{currentChannel.created.createdFrom}}</h4>
                    </div>
                    <div class="open-dtls-chnnl-delete-btn-parent">
                        <button class="blue-btn" (click)="deleteChannelAtUser(currentChannel.name)">Channel verlassen</button>
                    </div>
                    
                </div>
              </div>  
            }
            @if(openDetailsOfChannel && editChannel){
                <div class="open-dtls-chnnl-parent">
                  <div class="open-dtls-chnnl-child">
                      <div class="open-dtls-chnnl-head">
                          <h3># {{currentChannel.name}}</h3>
                          <img (click)="openDetailsAboutChannel()" src="/assets/img/close.png" alt="x">
                      </div>
                      <div class="open-dtls-chnnl-name-parent">
                        <form class="channel-name-form" [formGroup] ="changeChannelNameForm" (ngSubmit)="changeChannelName()">
                          <div class="open-dtls-chnnl-name">
                              <h3 class="fs-18">Channel Name</h3>
                              <button type="submit">
                                <h4 class="blue-font">Speichern</h4>
                              </button>
                          </div> 
                          <div class="open-dtls-chnnl-name-input">
                                  #
                                <input formControlName="name" class="open-dtls-chnnl-input-name" type="text" placeholder="{{currentChannel.name}}"> 
                          </div>
                        </form>
                      </div>
                      <div class="open-dtls-chnnl-middle">
                        <form class="channel-description-form" [formGroup] ="changeChannelDescrForm" (ngSubmit)="changeChannelDescription()">
                          <div class="open-dtls-chnnl-name">
                              <h3 class="fs-18">Beschreibung</h3>
                              <button type="submit">
                                <h4 class="blue-font">Speichern</h4>
                              </button>
                          </div> 
                          <textarea formControlName="description" placeholder="Schreibe hier die Beschreibung"></textarea>
                        </form>
                          <div class="black-line"></div>
                          <h3 class="fs-18">Erstellt von</h3>
                          <h4 class="blue-font" >{{currentChannel.created.createdFrom}}</h4>
                      </div>
                      <div class="open-dtls-chnnl-delete-btn-parent">
                          <button class="blue-btn" (click)="deleteChannelAtUser(currentChannel.name)">Channel verlassen</button>
                      </div>
                      
                  </div>
                </div>  
            }  -->
                <app-channel></app-channel>
        }
        <!-- @if(channelDeleted){
                <img src="/assets/img/close.png" alt="x">
                <h3>Sie haben den Channel # {{deletedChannelname}} erfolgreich gelöscht.</h3>
        }  -->
        @if(currentChat!=null){
            <app-chat [currentChat]="currentChat"></app-chat>
        }
        <div></div>
    </div>
    @if(addChannelOpen){
        <div class="add-chn-dia-parent">
        <div class="add-channel-dialog">
            <div class="add-chnnl-head">
                <h3>Channel erstellen</h3>
                <img src="/assets/img/close.png" alt="x" (click)="addChannelDialog()">
            </div>
            
            <h4>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum Beispiel.</h4>
            <form class="add-chnnl-form" [formGroup] ="addChannelForm" (ngSubmit)="onAddChannel()">
            <h3 class="fs-18">Channel-Name</h3>
            <div class="add-chnnl-name">
                #
                <input class="add-chnnl-input-name" formControlName="channelname" type="text" placeholder="z.B. Kooperationsprojekte"> 
            </div>
            <div class="add-chnnl-description">
                <h3 class="fs-18">Beschreibung</h3><h5>(optional)</h5>
            </div>
            <input class="add-chnnl-input-descr" formControlName="description" type="text" placeholder="Dein Text hier">
            <div class="add-chnnl-btn-parent">
                <button class="blue-btn" type="submit">Absenden</button>
            </div>
            </form>
        </div>
        </div>
    }  
</section>
</div>


