@if(currentChat!=null && userData!=null){
    <div class="chat-area-child">
        <div class="header-of-channel">
            @for(item of currentChat ? currentChat.chatData.members: ["Lisa"]; track item; let idx = $index){
                <!-- Header with Chatpartnerdata -->
                @if(item.uid !== userData.uid){
                    <div (click)="openUserDetails(idx)" class="mmbr-of-chnnl-list">
                        <img class="mmbr-of-chnnl-pic" src="{{item.fotolink}}" alt="">
                        <h3># {{item.name}}</h3>
                    </div> 
                } 
            }
        </div>
        <div class="channel-chat">
            <h3 class="margin-5px"> # {{currentChat.chatPartner.name}}</h3>
                <h4>
                    Diese Unterhaltung findet nur zwischen <span class="blue-font"># {{currentChat.chatPartner.name}}</span> und dir statt.
                </h4>
            @for(item of currentChat ? currentChat.chatData.messages : ["Lisa"]; track item; let idx = $index){
                @if(this.userData && item.editing ==false){
                    <!-- Chatpartnermessages -->
                    @if(item.uid != this.userData.uid){
                        <div class="msg-pic-and-text">
                        @if(item.fotolink){
                            <img  class="msg-sender-pic" src="{{item? item.fotolink: '/assets/img/profile.png'}}" alt="profile">  
                        }
                            <div class="msg-text-area">
                                <div class="msg-name-and-time">
                                    <h4 class="margin-5px">{{item? item.name:"565656"}}</h4>
                                    <h6 class="margin-5px">{{item? item.timestamp: "Keine Zeit"}}</h6>
                                </div>
                                <div class="msg-message">
                                    <h4 class="margin-5px">{{item? item.message :"Hey"}}</h4>
                                </div> 
                            </div>
                        </div>
                        }
                    <!-- MessagesfromMe -->
                    @else {
                        <div class="my-msg-pic-and-text">
                            @if(item.fotolink){
                                <img  class="msg-sender-pic" src="{{item? item.fotolink: '/assets/img/profile.png'}}" alt="profile">  
                            }
                            <div class="my-msg-text-area">
                                <div class="my-msg-name-and-time">
                                    <h4 class="margin-5px">{{item? item.name:"565656"}}</h4>
                                    <h6 class="margin-5px">{{item? item.timestamp: "Keine Zeit"}}</h6>
                                </div>
                                <div (click)="startEditMessage(idx)" class="my-msg-message">
                                    <h4 class="margin-5px">{{item? item.message :"Hey"}}</h4>
                                </div> 
                            </div>
                        </div>
                    }
                <!-- Ab hier bearbeitung -->
                }@else if(this.userData && item.editing ==true){
                    <!-- Chatpartnermessages -->
                    @if(item.uid != this.userData.uid){
                        <div class="msg-pic-and-text">
                    @if(item.fotolink){
                        <img  class="msg-sender-pic" src="{{item? item.fotolink: '/assets/img/profile.png'}}" alt="profile">  
                    }
                    <div class="msg-text-area">
                        <div class="msg-name-and-time">
                            <h4 class="margin-5px">{{item? item.name:"565656"}}</h4>
                            <h6 class="margin-5px">{{item? item.timestamp: "Keine Zeit"}}</h6>
                        </div>
                        <div class="msg-message">
                            <h4 class="margin-5px">{{item? item.message :"Hey"}}</h4>
                        </div> 
                    </div>
                        </div>
                    }
                    <!-- MessagesFromMe -->
                    @else {
                        <div class="my-msg-pic-and-text">
                            @if(item.fotolink){
                                <img  class="msg-sender-pic" src="{{item? item.fotolink: '/assets/img/profile.png'}}" alt="profile">  
                            }
                            <div class="my-msg-text-area">
                                <div class="my-msg-name-and-time">
                                    <h4 class="margin-5px">{{item? item.name:"565656"}}</h4>
                                    <h6 class="margin-5px">{{item? item.timestamp: "Keine Zeit"}}</h6>
                                </div>
                                <div class="my-msg-message">
                                    <form class="edit-message-form" [formGroup] ="editMessageForm" (ngSubmit)="editMessage(idx)">
                                        <textarea formControlName="message" class="margin-5px" placeholder={{item.message}}></textarea>
                                        <button type="button" (click)="closeEditMessage(idx)">Abbrechen</button>
                                        <button type="submit">Speichern</button>
                                    </form>
                                </div> 
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <form class="messages-form" [formGroup] ="sendMessageForm" (ngSubmit)="sendPrivateMessage()">
            <textarea formControlName="message" type="text" placeholder="Deine Nachricht hier eingeben">
            </textarea>
            <button type="submit">
                <img src="/assets/img/send.png" alt="send">
            </button>
        </form>   
    </div> 
}