@if(currentChat!=null && userData!=null){
    <div class="chat-area-child">
        <div class="header-of-channel">
            @for(item of currentChat ? currentChat.chatData.members: ["Lisa"]; track item; let idx = $index){
                <!-- Header with Chatpartnerdata -->
                @if(item.uid !== userData.uid){
                    <div (click)="openUserDetails(idx)" class="mmbr-of-chnnl-list">
                        <img class="mmbr-of-chnnl-pic" src="{{item.fotolink}}" alt="">
                        <h3># {{item.name}}</h3>
                    </div> 
                } 
            }
        </div>
        <div class="channel-chat">
            <h3 class="chat-channel-name"> # {{currentChat.chatPartner.name}}</h3>
                <h4>
                    Diese Unterhaltung findet nur zwischen <span class="blue-font"># {{currentChat.chatPartner.name}}</span> und dir statt.
                </h4>
            @for(item of currentChat ? currentChat.chatData.messages : ["Lisa"]; track item; let idx = $index){
                @if(idx == 0 || !isSameDay(item.date, currentChat.chatData.messages[idx-1].date)){
                    <div class="black-line"></div>
                    <div class="date-label-div">
                        <h5 class="date-label">{{ formatDate(item.date) }}</h5>
                    </div>
                }
                @if(this.userData && item.editing ==false){
                    <!-- Chatpartnermessages -->
                    @if(item.uid != this.userData.uid){
                        <div class="msg-pic-and-text">
                        @if(item.fotolink){
                            <img  class="msg-sender-pic" src="{{item? item.fotolink: './assets/img/profile.png'}}" alt="profile">  
                        }
                            <div class="msg-text-area">
                                <div class="msg-name-and-time">
                                    <h4 class="margin-5px">{{item? item.name:"565656"}}</h4>
                                    <h6 class="margin-5px">{{item? item.clock: "Keine Zeit"}}</h6>
                                </div>
                                <div class="msg-message">
                                    <h4 class="margin-5px">{{item? item.message :"Hey"}}</h4>
                                </div> 
                            </div>
                        </div>
                        }
                    <!-- MessagesfromMe -->
                    @else {
                        <div class="my-msg-pic-and-text">
                            @if(item.fotolink){
                                <img  class="msg-sender-pic" src="{{item? item.fotolink: './assets/img/profile.png'}}" alt="profile">  
                            }
                            <div class="my-msg-text-area">
                                <div class="my-msg-name-and-time">
                                    <h4 class="margin-5px">{{item? item.name:"565656"}}</h4>
                                    <h6 class="margin-5px">{{item? item.clock: "Keine Zeit"}}</h6>
                                </div>
                                <div (click)="startEditMessage(idx)" class="my-msg-message">
                                    <h4 class="margin-5px">{{item? item.message :"Hey"}}</h4>
                                </div> 
                            </div>
                        </div>
                    }
                <!-- Ab hier bearbeitung -->
                }@else if(this.userData && item.editing ==true){
                    <!-- Chatpartnermessages -->
                    @if(item.uid != this.userData.uid){
                        <div class="msg-pic-and-text">
                    @if(item.fotolink){
                        <img  class="msg-sender-pic" src="{{item? item.fotolink: './assets/img/profile.png'}}" alt="profile">  
                    }
                    <div class="msg-text-area">
                        <div class="msg-name-and-time">
                            <h4 class="margin-5px">{{item? item.name:"565656"}}</h4>
                            <h6 class="margin-5px">{{item? item.clock: "Keine Zeit"}}</h6>
                        </div>
                        <div class="msg-message">
                            <h4 class="margin-5px">{{item? item.message :"Hey"}}</h4>
                        </div> 
                    </div>
                        </div>
                    }
                    <!-- MessagesFromMe -->
                    @else {
                        <div class="my-msg-pic-and-text edit-backgroundcolor">
                            @if(item.fotolink){
                                <img  class="msg-sender-pic" src="{{item? item.fotolink: './assets/img/profile.png'}}" alt="profile">  
                            }
                            <div class="my-msg-text-area">
                                <div class="my-msg-name-and-time">
                                    <h4 class="margin-5px">{{item? item.name:"565656"}}</h4>
                                    <h6 class="margin-5px">{{item? item.clock: "Keine Zeit"}}</h6>
                                </div>
                                <div class="my-msg-message edit-msg">
                                    @if(emojisOpenInEditM){
                                        <div class="emoji-picker-edit-m">
                                            <emoji-mart class="emoji-mart-edit"
                                                (emojiSelect)="addEmoji($event)"
                                                [virtualize]="true"
                                                [showSingleCategory]="true"
                                                [i18n]="{
                                                categories: {
                                                    recent: 'Kürzlich',
                                                    smileys: 'Smileys',
                                                    people: 'Menschen',
                                                    animals: 'Tiere',
                                                    food: 'Essen',
                                                    activities: 'Aktivitäten',
                                                    travel: 'Reisen',
                                                    objects: 'Objekte',
                                                    symbols: 'Symbole',
                                                    flags: 'Flaggen'
                                                },
                                                search: 'Suchen'
                                                }"
                                          ></emoji-mart>
                                          </div>
                                    }
                                    <form class="edit-message-form" #editMessageForm="ngForm" (ngSubmit)="editMessage(idx)">
                                        <textarea [(ngModel)]="editMessageData.message" name="message" class="margin-5px" placeholder={{item.message}}></textarea>
                                        <div class="emoji-two-buttons-edit">
                                            <img (click)="toggleEmojisOnEditM()" src="./assets/img/sentiment_satisfied.png" alt="smiley">
                                            <div class="two-buttons-edit">
                                                <button class="white-btn-edit" type="button" (click)="closeEditMessage(idx)">Abbrechen</button>
                                                <button class="blue-btn-edit" type="submit" [disabled]="editMessageForm.invalid">Speichern</button>
                                            </div>
                                        </div>
                                    </form>
                                </div> 
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <div class="emoji-and-form">
        @if(emojisOpen){
            <div class="emoji-picker">
                <emoji-mart
                    (emojiSelect)="addEmoji($event)"
                    [perLine]="9"
                    [emojiSize]="22"
                    [i18n]="{
                    categories: {
                        recent: 'Kürzlich',
                        smileys: 'Smileys',
                        people: 'Menschen',
                        animals: 'Tiere',
                        food: 'Essen',
                        activities: 'Aktivitäten',
                        travel: 'Reisen',
                        objects: 'Objekte',
                        symbols: 'Symbole',
                        flags: 'Flaggen'
                    },
                    search: 'Suchen'
                    }"
              ></emoji-mart>
              </div>
        }
        @if(markCorrespond){
            <div class="corresponds-mark">
                <div (click)="markPerson()" class="correspond-name-img">
                    <img src="{{currentChat.chatPartner.fotolink}}" alt="foto">
                    <h3>{{currentChat.chatPartner.name}}</h3>
                </div>
                
            </div>
        }
        <form class="messages-form" #sendMessageForm="ngForm" (ngSubmit)="sendPrivateMessage()">
            <textarea #message="ngModel" 
            [(ngModel)]="newMessage.message" name="message" type="text" placeholder="Deine Nachricht hier eingeben">
            </textarea>
            <div class="emoji-mark-send-buttons">
                <img (click)="showEmojis()" src="./assets/img/sentiment_satisfied.png" alt="emojis">
                <img (click)="showMarkableCorrespond()"  src="./assets/img/alternate_email.png" alt="@">
                <button class="send-msg-btn" type="submit">
                    <img src="./assets/img/send.png" alt="send">
                </button>
            </div>
        </form> 
        </div>  
    </div> 
}