@import '../../../styles.scss';
@import '../main.component.scss';
.sidenav-area{
    width:30vW;
    height:100%;
    background-color: white;
    border-radius: 42px;
}
.sidenav-head{
    @include dFlex();
}
.add-channel{
    @include dFlex();
}
.text-pctr{
    @include dFlex($g:16px);
}
.img-and-txt-pctr{
    @include dFlex($g:16px, $jc:flex-start);
    padding:0px 24px;
}
.sidenav-head{
    @include dFlex($jc:space-between);
    padding: 0px 24px;
}
.devspace-in-ri{
    @include dFlex($g:16px);
}