    <div class="chat-area-child">
        <div class="header-of-channel">
            <h3>Neue Nachricht</h3>
            <div class="input-area">
                <h4>An</h4>
                    <input 
                    [(ngModel)]="adress" 
                    name="adress" (ngModelChange)="onInputChange($event)" 
                    class="search-input" type="text" 
                    placeholder="{{placeholder()}}">
            </div>
        </div>
        @if(searchResultsValue.length>0 && search=="email"){
            <div class="search-results">
                @for(item of searchResultsValue; track item; let idx=$index){
                    <h4 (click)="saveName(item.uid,idx )">{{item.email}}</h4>
                }
            </div> 
        }
        @if(searchResultsValue.length>0 && search=="name"){
            <div class="search-results">
                @for(item of searchResultsValue; track item; let idx=$index){
                    <h4 (click)="saveName(item.uid, idx)">{{item.name}}</h4>
                }
            </div> 
        }
        @if(searchResults.length>0 && search=="channel"){
            <div class="search-results">
                @for(item of searchResults; track item; let idx=$index){
                    <h4 (click)="saveName(item, idx)">{{item}}</h4>
                }
            </div> 
        }
        
        <div class="channel-chat">
        </div>
        @if(emojisOpen){
            <div class="emoji-picker">
                <emoji-mart
                    (emojiSelect)="addEmoji($event)"
                    [perLine]="9"
                    [emojiSize]="22"
                    [i18n]="{
                    categories: {
                        recent: 'Kürzlich',
                        smileys: 'Smileys',
                        people: 'Menschen',
                        animals: 'Tiere',
                        food: 'Essen',
                        activities: 'Aktivitäten',
                        travel: 'Reisen',
                        objects: 'Objekte',
                        symbols: 'Symbole',
                        flags: 'Flaggen'
                    },
                    search: 'Suchen'
                    }"
              ></emoji-mart>
              </div>
        }
        @if(markCorrespond){
            <div class="corresponds-mark">
                @for(item of markablePersonsFromChannel ? markablePersonsFromChannel: ["Lisa"]; track item; let idx = $index){
                    <div (click)="markPerson(item.name)" class="correspond-name-img">
                        <img class="mmbr-of-chnnl-pic" src="{{item.fotolink}}" alt="">
                        <!-- <img src="" alt="online"> -->
                        <h4>{{item.name}}</h4>
                    </div>
                }
            </div>
        }
        <form class="messages-form" #sendMessageForm="ngForm" (ngSubmit)="sendMessage()">
            <textarea #messageInput 
            [(ngModel)]="newMessage.message" 
            name="message" type="text" 
            placeholder="Deine Nachricht hier eingeben">
            </textarea>
            <div class="emoji-mark-send-buttons">
                <div>
                <img (click)="showEmojis()" src="./assets/img/sentiment_satisfied.png" alt="emojis">
                <img (click)="showMarkableCorrespond()"  [src]="checkIfChannelFound() ? './assets/img/alternate_email.png' : ''" alt="">
                </div>
                <button class="send-msg-btn" type="submit">
                    <img src="./assets/img/send.png" alt="send">
                </button>
            </div>
        </form>   
    </div> 
