@import "../../../styles.scss";
h4{
    padding:0px;
}
.header-of-channel{
    position: relative;
    @include dFlex($jc:space-between, $fd:column, $ai:flex-start, $g:16px);
    border-bottom:2px solid #ECEEFE;
    padding:16px;
    margin-left:8px;
}
textarea{
    width: 90%;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    font-size: 12px;
    resize: none;
    font-family: 'Nunito';
}
.messages-form{
    @include dFlex($jc:space-around,$fd:column);
    height: 80px;
    border: 1px solid #ADB0D9;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 8px;
    width: auto;
    margin:8px;
    @media(max-width:800px){
        bottom:3px;
        height:10%;
        margin: 4px;
    }
}
.channel-chat{
    flex:1;
    @include dFlex($ai:flex-start, $fd:column, $g:8px);
    // height:50%;
}
.input-area{
    border-radius:25px;
    border:1px solid black;
    width: 80%;
    background-color: white;
}
.chat-area-child{
    height:100%;
    width:100%;
    position: relative;
}
.search-results{
    position: relative;
    height: auto;
    padding:16px;
    border-radius:25px;
    background-color: white;
    margin-left:8px;
}
.emoji-mark-send-buttons{
    @include dFlex($g:16px, $jc:space-between);
    width:80%;
}
.send-msg-btn{
    width:auto;
    border:transparent;
    background-color: transparent;
    text-align: end;
}

.emoji-picker {
    position: absolute;
    bottom:10vH;
    left:0;
    right:4vW;
    width: 320px;
    height: 400px;
    overflow: scroll;
    border: 1px solid #ccc;
    @include dFlex();
    z-index:3;
    padding: 8px;
    scrollbar-width: none;
    background-color: white;
    border-radius: 20px;
    @media(max-width:500px){
        width:280px;
        height:200px;
        left:2vW;
    }
}
.corresponds-mark{
    position: absolute;
    bottom:10vH;
    left:0;
    right:4vW;
    max-width: 320px;
    max-height: 300px;
    overflow: scroll;
    border: 1px solid #ccc;
    @include dFlex($ai:flex-start, $fd:column, $jc:unset);
    z-index:3;
    padding: 8px;
    scrollbar-width: none;
    background-color: white;
    border-radius: 20px;
    @media(max-width:500px){
        max-width:280px;
        max-height:200px;
        left:2vW;
    }
}
.correspond-name-img{
    @include dFlex($jc:flex-start, $g:16px);
    width:100%;
    >img{
        width:40px;
        height:40px;
        border-radius: 100%;
        @media(max-width){
            width:20px;
            height:20px;
        }
    }
}
emoji-mart{
    width:320px;
    height:400px;
    @media(max-width:500px){
        width:280px;
        height:200px;
    }
}
emoji-mart .emoji-mart-search-icon{
    background-color: white;
    border: 0px transparent;
}
emoji-mart .emoji-mart-anchors, .emoji-mart-category-label, .emoji-mart-preview{
    display: none;
}
.mmbr-of-chnnl-pic{
    width:40px;
    height:40px;
    border-radius: 30px;
    border: 2px solid white;
    @media(max-width:800px){
        width:20px;
        height:20px;
    }
}
.d-flex{
    @include dFlex($jc:flex-start, $g:16px);
}
