    <div class="chat-area-child">
        <div class="header-of-channel">
            <h3>Neue Nachricht</h3>
            <div class="input-area">
                <h4>An</h4>
                <input [formControl]="input" class="search-input" type="text" placeholder="#Channel, @Name oder die E-Mail Adresse">
            </div>
        </div>
        @if(searchResultsValue.length>0 && search=="email"){
        <div class="search-results">
            @for(item of searchResultsValue; track item){
                <h4 (click)="openChatOrChannel(item.uid)">{{item.email}}</h4>
            }
        </div> 
        }
        @if(searchResultsValue.length>0 && search=="name"){
            <div class="search-results">
                @for(item of searchResultsValue; track item){
                    <h4 (click)="openChatOrChannel(item.uid)">{{item.name}}</h4>
                }
            </div> 
        }
        @if(searchResults.length>0 && search=="channel"){
            <div class="search-results">
                @for(item of searchResults; track item){
                    <h4 (click)="openChatOrChannel(item)">{{item}}</h4>
                }
            </div> 
        }
        
        <div class="channel-chat">
        </div>
        <form class="messages-form" [formGroup] ="sendMessageForm" (ngSubmit)="sendMessage()">
            <textarea formControlName="message" type="text" placeholder="Deine Nachricht hier eingeben">
            </textarea>
            <button type="submit">
                <img src="./assets/img/send.png" alt="send">
            </button>
        </form>   
    </div> 
