@if(currentChannel){
<div class="channel-chat">
    <h3 class="chat-channel-name"> # {{currentChannel.name}}</h3>
    @if(currentChannel.created.createdFrom == userData?.name){
        <h4>Du hast diesen Channel am {{currentChannel.created.createdAt}} erstellt.
            Das ist der Anfang des Channels <span class="blue-font"># {{currentChannel.name}}</span>.
        </h4>
    }@else {
        <h4 class="margin-5px">{{currentChannel.created.createdFrom}} hat diesen Channel am 
            {{currentChannel.created.createdAt}} erstellt.
            Das ist der Anfang des Channels <span class="blue-font">#{{currentChannel.name}}</span>.
        </h4>
    }
    @for(item of currentChannel.messages; track item; let idx = $index){
        @if(idx == 0 || !isSameDay(item.date, currentChannel.messages[idx-1].date)){
            <div class="black-line"></div>
            <h5 class="date-label">{{ formatDate(item.date) }}</h5>
        }
         @if(this.userData && item.editing == false){
            @if(item.uid != this.userData.uid){
                <div class="msg-pic-and-text">
            @if(item.fotolink){
                <img  class="msg-sender-pic" src="{{item? item.fotolink: '/assets/img/profile.png'}}" alt="profile">  
            }
            <div class="msg-text-area">
                <div class="msg-name-and-time">
                    <h4 class="margin-5px">{{item? item.name:"565656"}}</h4>
                    <h6 class="margin-5px">{{item? item.timestamp: "Keine Zeit"}}</h6>
                </div>
                <div (click)="startEditMessage(idx)" class="msg-message">
                    <h4 class="margin-5px">{{item? item.message :"Hey"}}</h4>
                </div> 
            </div>
        </div>
            }
            @else {
                <div class="my-msg-pic-and-text">
                    @if(item.fotolink){
                        <img  class="msg-sender-pic" src="{{item? item.fotolink: './assets/img/profile.png'}}" alt="profile">  
                    }
                    <div class="my-msg-text-area">
                        <div class="my-msg-name-and-time">
                            <h4 class="margin-5px">{{item? item.name:"565656"}}</h4>
                            <h6 class="margin-5px">{{item? item.timestamp: "Keine Zeit"}}</h6>
                        </div>
                        <div (click)="startEditMessage(idx)" class="my-msg-message">
                            <h4 class="margin-5px">{{item? item.message :"Hey"}}</h4>
                        </div> 
                    </div>
                </div>
            }
             <!-- Edit Messages Area -->
        }@else if(this.userData && item.editing ==true){
            @if(item.uid != this.userData.uid){
            <div class="msg-pic-and-text">
            @if(item.fotolink){
                <img  class="msg-sender-pic" src="{{item? item.fotolink: './assets/img/profile.png'}}" alt="profile">  
            }
                <div class="msg-text-area">
                    <div class="msg-name-and-time">
                        <h4 class="margin-5px">{{item? item.name:"565656"}}</h4>
                        <h6 class="margin-5px">{{item? item.timestamp: "Keine Zeit"}}</h6>
                    </div>
                    <div class="msg-message">
                        <h4 class="margin-5px">{{item? item.message :"Hey"}}</h4>
                    </div> 
                </div>
            </div>
            }
            @else {
                <div class="my-msg-pic-and-text">
                    @if(item.fotolink){
                        <img  class="msg-sender-pic" src="{{item? item.fotolink: './assets/img/profile.png'}}" alt="profile">  
                    }
                    <div class="my-msg-text-area">
                        <div class="my-msg-name-and-time">
                            <h4 class="margin-5px">{{item? item.name:"565656"}}</h4>
                            <h6 class="margin-5px">{{item? item.timestamp: "Keine Zeit"}}</h6>
                        </div>
                        <div class="my-msg-message">
                            <form class="edit-message-form" #editMessageForm="ngForm" (ngSubmit)="editMessage(idx)">
                                <textarea [(ngModel)]="editMessageData.message" name="message" class="margin-5px" placeholder={{item.message}}></textarea>
                                <button type="button" (click)="closeEditMessage(idx)">Abbrechen</button>
                                <button type="submit" [disabled]="editMessageForm.invalid">Speichern</button>
                            </form>
                        </div> 
                    </div>
                </div>
            }
        }
    }
</div>
}