@if(currentChannel){
<div class="channel-chat" #scrollContainer>
    <h3 class="chat-channel-name"> # {{currentChannel.name}}</h3>
    @if(currentChannel.created.createdFrom == userData?.name){
        <h4>Du hast diesen Channel am {{currentChannel.created.createdAt}} erstellt.
            Das ist der Anfang des Channels <span class="blue-font"># {{currentChannel.name}}</span>.
        </h4>
    }@else {
        <h4 class="margin-5px">{{currentChannel.created.createdFrom}} hat diesen Channel am 
            {{currentChannel.created.createdAt}} erstellt.
            Das ist der Anfang des Channels <span class="blue-font">#{{currentChannel.name}}</span>.
        </h4>
    }
    @for(item of currentChannel.messages; track item; let idx = $index){
        @if(idx == 0 || !isSameDay(item.date, currentChannel.messages[idx-1].date)){
            <div class="black-line"></div>
            <div class="date-label-div">
                <h5 class="date-label">{{ formatDate(item.date) }}</h5>
            </div>
            
        }
         @if(this.userData && item.editing == false){
            @if(item.uid != this.userData.uid){
                <div class="msg-pic-and-text">
            @if(item.fotolink){
                <img  class="msg-sender-pic" src="{{item? item.fotolink: '/assets/img/profile.png'}}" alt="profile">  
            }
            <div class="msg-text-area">
                <div class="msg-name-and-time">
                    <h4 class="margin-5px">{{item? item.name:"565656"}}</h4>
                    <h6 class="margin-5px">{{item? item.clock: "Keine Zeit"}}</h6>
                </div>
                <div class="msg-message" (click)="toggleEmojisForReaction(idx)">
                    <h4 class="margin-5px">{{item? item.message :"Hey"}}</h4>
                </div> 
                <div class="reactions" >
                    <emoji-mart class="emoji-mart-recent-reactions"
                        (emojiSelect)="addEmojiReaction($event,idx)"
                        [perLine]="4"
                        [totalFrequentLines]="1"
                        [i18n]="{
                        categories: {
                            recent: 'Kürzlich',}
                        }">
                    </emoji-mart>
                    <div class="toggle-emoji-for-reaction" (click)="toggleEmojisForReaction(idx)">+</div>
                </div>
                @if(item.reactions !== []){
                    <div class="saved-reactions">
                    @for(reaction of item.reactions?item.reactions:[]; track reaction; let id = $index){
                        @if(reaction.senderUid == userData.uid){
                            <div class="bg-light-blue" (click)="removeReaction(id, idx)">
                               {{reaction.reaction}}  
                            </div>
                        }@else {
                            <div>{{reaction.reaction}}</div>
                        }
                        
                    }
                    </div>
                }
                @if(emojisOpenForReaction && (idx == currentMessageId)){
                    <div class="emoji-picker-edit-m">
                        <emoji-mart
                            (emojiSelect)="addEmojiReaction($event, idx)"
                            [virtualize]="true"
                            [showSingleCategory]="true"
                            [i18n]="{
                            categories: {
                                recent: 'Kürzlich',
                                smileys: 'Smileys',
                                people: 'Menschen',
                                animals: 'Tiere',
                                food: 'Essen',
                                activities: 'Aktivitäten',
                                travel: 'Reisen',
                                objects: 'Objekte',
                                symbols: 'Symbole',
                                flags: 'Flaggen'
                            },
                            search: 'Suchen'
                            }"
                      ></emoji-mart>
                      </div>
                }
            </div>
        </div>
            }
            @else {
                <div class="my-msg-pic-and-text">
                    @if(item.fotolink){
                        <img  class="msg-sender-pic" src="{{item? item.fotolink: './assets/img/profile.png'}}" alt="profile">  
                    }
                    <div class="my-msg-text-area">
                        <div class="my-msg-name-and-time">
                            <h4 class="margin-5px">{{item? item.name:"565656"}}</h4>
                            <h6 class="margin-5px">{{item? item.clock: "Keine Zeit"}}</h6>
                        </div>
                        <div (click)="startEditMessage(idx)" class="my-msg-message">
                            <h4 class="margin-5px">{{item? item.message :"Hey"}}</h4>
                        </div>
                        @if(item.reactions !== []){
                            <div class="saved-reactions">
                            @for(reaction of item.reactions?item.reactions:[]; track reaction; let id = $index){
                                <!-- @if(reaction.senderUid == userData.uid){
                                    <div>
                                       {{reaction.reaction}}  
                                    </div> -->
                                <!-- }@else { -->
                                    <div>{{reaction.reaction}}</div>
                                <!-- } -->
                            }
                            </div>
                        }
                    </div>
                </div>
            }
             <!-- Edit Messages Area -->
        }@else if(this.userData && item.editing ==true){
            @if(item.uid != this.userData.uid){
            <div class="msg-pic-and-text">
            @if(item.fotolink){
                <img  class="msg-sender-pic" src="{{item? item.fotolink: './assets/img/profile.png'}}" alt="profile">  
            }
                <div class="msg-text-area">
                    <div class="msg-name-and-time">
                        <h4 class="margin-5px">{{item? item.name:"565656"}}</h4>
                        <h6 class="margin-5px">{{item? item.timestamp: "Keine Zeit"}}</h6>
                    </div>
                    <div class="msg-message" (click)="toggleEmojisForReaction(idx)">
                        <h4 class="margin-5px">{{item? item.message :"Hey"}}</h4>
                    </div>
                    <div class="reactions" >
                        <emoji-mart class="emoji-mart-recent-reactions"
                            (emojiSelect)="addEmojiReaction($event,idx)"
                            [perLine]="4"
                            [totalFrequentLines]="1"
                            [i18n]="{
                            categories: {
                                recent: 'Kürzlich',}
                            }">
                        </emoji-mart>
                        <div class="toggle-emoji-for-reaction" (click)="toggleEmojisForReaction(idx)">+</div>
                    </div>
                    @if(item.reactions !== []){
                        <div class="saved-reactions">
                        @for(reaction of item.reactions?item.reactions:[]; track reaction; let id = $index){
                            @if(reaction.senderUid == userData.uid){
                                <div (click)="removeReaction(id, idx)">
                                   {{reaction.reaction}}  
                                </div>
                            }@else {
                                <div>{{reaction.reaction}}</div>
                            }
                            
                        }
                        </div>
                    }
                    @if(emojisOpenForReaction && (idx == currentMessageId)){
                        <div class="emoji-picker-edit-m">
                            <emoji-mart
                                (emojiSelect)="addEmojiReaction($event, idx)"
                                [virtualize]="true"
                                [showSingleCategory]="true"
                                [i18n]="{
                                categories: {
                                    recent: 'Kürzlich',
                                    smileys: 'Smileys',
                                    people: 'Menschen',
                                    animals: 'Tiere',
                                    food: 'Essen',
                                    activities: 'Aktivitäten',
                                    travel: 'Reisen',
                                    objects: 'Objekte',
                                    symbols: 'Symbole',
                                    flags: 'Flaggen'
                                },
                                search: 'Suchen'
                                }"
                          ></emoji-mart>
                          </div>
                    } 
                </div>
            </div>
            }
            @else {
                <div class="my-msg-pic-and-text edit-backgroundcolor">
                    @if(item.fotolink){
                        <img  class="msg-sender-pic" src="{{item? item.fotolink: './assets/img/profile.png'}}" alt="profile">  
                    }
                    <div class="my-msg-text-area">
                        <div class="my-msg-name-and-time">
                            <h4 class="margin-5px">{{item? item.name:"565656"}}</h4>
                            <h6 class="margin-5px">{{item? item.clock: "Keine Zeit"}}</h6>
                        </div>
                        <div class="my-msg-message edit-msg">
                            @if(emojisOpenInEditM){
                                <div class="emoji-picker-edit-m ">
                                    <emoji-mart
                                        (emojiSelect)="addEmojiOnEditMessage($event)"
                                        [virtualize]="true"
                                        [showSingleCategory]="true"
                                        [i18n]="{
                                        categories: {
                                            recent: 'Kürzlich',
                                            smileys: 'Smileys',
                                            people: 'Menschen',
                                            animals: 'Tiere',
                                            food: 'Essen',
                                            activities: 'Aktivitäten',
                                            travel: 'Reisen',
                                            objects: 'Objekte',
                                            symbols: 'Symbole',
                                            flags: 'Flaggen'
                                        },
                                        search: 'Suchen'
                                        }"
                                  ></emoji-mart>
                                </div>
                            }
                            <form class="edit-message-form" #editMessageForm="ngForm" (ngSubmit)="editMessage(idx)">
                                <textarea [(ngModel)]="editMessageData.message" name="message" class="margin-5px" placeholder={{item.message}}></textarea>
                                <div class="emoji-two-buttons-edit">
                                    <img (click)="toggleEmojisOnEditM()" src="./assets/img/sentiment_satisfied.png" alt="smiley">
                                    <div class="two-buttons-edit">
                                        <button class="white-btn-edit" type="button" (click)="closeEditMessage(idx)">Abbrechen</button>
                                        <button class="blue-btn-edit" type="submit" [disabled]="editMessageForm.invalid">Speichern</button>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                        @if(item.reactions !== []){
                            <div class="saved-reactions">
                            @for(reaction of item.reactions?item.reactions:[]; track reaction; let id = $index){
                                @if(reaction.senderUid == userData.uid){
                                    <div>
                                       {{reaction.reaction}}  
                                    </div>
                                }@else {
                                    <div>{{reaction.reaction}}</div>
                                }
                            }
                            </div>
                        } 
                    </div>
                </div>
            }
        }
    }
</div>
}