<!-- This component should open when a new account is in the creatingmode -->

<button class="arrow-btn" (click)="goTo('')">
    <img src="/assets/img/arrow_back.png" alt="arrow">
</button>
<h2>Wähle einen Avatar!</h2>
<div class="dummy-profile">
    <img  src="{{dummyProfile}}" alt="">
</div>
<h3>{{userData ? userData.name : "Nutzername"}}</h3>
<h4>Aus der Liste wählen!</h4>
<div class="avatar-images">
@for(item of profiles; track item){
    <img class="avatar-image" (click)="saveNewAvatar(item)" src="{{item}}" alt="picture">
}
</div>
<div class="btn-right">
    <button [disabled]="!chosedAvatar" class="blue-btn" (click)="saveNewInfos('main')">Weiter</button>
</div>
