<div class="header">
    <div class="logo-name">
        <img class="logo" src="/assets/img/Logo.png" alt="logo">
        <h3>DA Bubble</h3>
    </div>
    <div class="search-parent">
        <div class="search-fi">
            <input [formControl]="input" type="search" placeholder="Devspace durchsuchen">
            <img src="/assets/img/search.png" alt="search">
        </div>
        @if(searchResultsValue.length>0 && search=="email"){
            <div class="search-results">
                @for(item of searchResultsValue; track item){
                    <h4 (click)="openChatOrChannel(item.uid)">{{item.email}}</h4>
                }
            </div> 
            }
            @if(searchResultsValue.length>0 && search=="name"){
                <div class="search-results">
                    @for(item of searchResultsValue; track item){
                        <h4 (click)="openChatOrChannel(item.uid)">{{item.name}}</h4>
                    }
                </div> 
            }
            @if(searchResults.length>0 && search=="channel"){
                <div class="search-results">
                    @for(item of searchResults; track item){
                        <h4 (click)="openChatOrChannel(item)">{{item}}</h4>
                    }
                </div> 
            }
    </div>
    
    <div class="user-nim">
        <h3>{{userData ? userData.name : "xy"}}</h3>
        <img class="profile" [src]="userData ? userData.fotolink : '/assets/img/Profile.png'" alt="profile">
        <button class="toggle-btn" (click)="toggleMenu()">
            <img src="/assets/img/key_arrow_down.png" alt="arrow-down">
        </button>
    </div>
    @if(toggleMenuIsOpen){
        <div class="toggle-mn">
            <button (click)="openMyProfile()"> Profil </button>
            <button (click)="logout()">Logout</button>
        </div>
    }
    @if(profileDetails||editUserData ){
        <app-member-details (changedUserDataEvent)="updateUserData()" (editDataEvent)="editProfile()" (closeDetailsEvent)="detailsOfProfile()" [userData]="userData" [editUserData]="editUserData" [profileDetails]="profileDetails"></app-member-details>
    }
</div>
