<div class="header">
    <div class="logo-name" [ngClass]="{'hidden': isChatActive()}">
        <img class="logo" src="./assets/img/Logo.png" alt="logo">
        <h3 >DA Bubble</h3>
    </div>
    <div class="logo-name-res" [ngClass]="{'hidden': !isChatActive()}">
        <button class="toggle-btn-left" (click)="goBackToSidenav()">
            <img src="./assets/img/keyboard_arrow_left.png" alt="arrow-down">
        </button>
        <img (click)="goBackToSidenav()" class="logo" src="./assets/img/Workspace_logo.png" alt="logo">
        <h3 (click)="goBackToSidenav()">Devspace</h3>
    </div>
    <div class="search-parent">
        <div class="search-fi">
            <input [(ngModel)]="adress" 
            name="adress" (ngModelChange)="onInputChange($event)"  type="search" placeholder="{{placeholder()}}">
            <img src="./assets/img/search.png" alt="search">
        </div>
        @if(searchResultsValue.length>0 && search=="email"){
            <div class="search-results">
                @for(item of searchResultsValue; track item; let idx=$index){
                    <h4 (click)="saveName(item.uid,idx )">{{item.email}}</h4>
                }
            </div> 
        }
        @if(searchResultsValue.length>0 && search=="name"){
            <div class="search-results">
                @for(item of searchResultsValue; track item; let idx=$index){
                    <h4 (click)="saveName(item.uid, idx)">{{item.name}}</h4>
                }
            </div> 
        }
        @if(searchResults.length>0 && search=="channel"){
            <div class="search-results">
                @for(item of searchResults; track item; let idx=$index){
                    <h4 (click)="saveName(item, idx)">{{item}}</h4>
                }
            </div> 
        }
    </div>
    <div class="user-nim">
        @if(profileDetails||editUserData){
            <app-member-details (changedUserDataEvent)="updateUserData()" (editDataEvent)="editProfile()" (closeDetailsEvent)="detailsOfProfile()" [userData]="userData" [editUserData]="editUserData" [profileDetails]="profileDetails"></app-member-details>
                }
        <h3 class="vanish-text">{{userData ? userData.name : "xy"}}</h3>
        @if(userData?.presenceStatus){
            <div class="online"></div>
        }@else{
            <div class="offline"></div>
        }
        <img (click)="toggleMenu()" class="profile" [src]="userData ? userData.fotolink : './assets/img/profile.png'" alt="profile">
        <button class="toggle-btn" (click)="toggleMenu()">
            <img src="./assets/img/key_arrow_down.png" alt="arrow-down">
        </button>
         
    </div>
    @if(toggleMenuIsOpen){
        <div class="toggle-mn">
            <button (click)="openMyProfile()"> Profil </button>
            <button (click)="logout()">Logout</button>
           
        </div>
    }
    
</div>
<div class="search-parent-mobile" [ngClass]="{'hidden': isChatActive()}">
    <div class="search-fi-mobile">
        <input [(ngModel)]="adress" name="adress" (ngModelChange)="onInputChange($event)"  type="search" placeholder="{{placeholder()}}">
        <img src="./assets/img/search.png" alt="search">
    </div>
    @if(searchResultsValue.length>0 && search=="email"){
        <div class="search-results-mobile">
            @for(item of searchResultsValue; track item; let idx=$index){
                <h4 (click)="saveName(item.uid,idx )">{{item.email}}</h4>
            }
        </div> 
    }
    @if(searchResultsValue.length>0 && search=="name"){
        <div class="search-results-mobile">
            @for(item of searchResultsValue; track item; let idx=$index){
                <h4 (click)="saveName(item.uid, idx)">{{item.name}}</h4>
            }
        </div> 
    }
    @if(searchResults.length>0 && search=="channel"){
        <div class="search-results-mobile">
            @for(item of searchResults; track item; let idx=$index){
                <h4 (click)="saveName(item, idx)">{{item}}</h4>
            }
        </div> 
    }
</div>
