<!-- This dialog should open, when the user selects that they dont remember the password -->
<div>
    <button class="arrow-btn" (click)="goBackToLogin()">
        <img src="./assets/img/arrow_back.png" alt="arrow">
    </button>
    <h2>Passwort zurücksetzen</h2>
    <h4>Bitte geben Sie Ihre Email-Adresse ein</h4>
    <form #emailForm="ngForm" (ngSubmit)="onSubmit(emailForm)">
        @if(email.touched && email.invalid){
            <label class="error-label">
                @if(!errorMessage){
                    Bitte füge eine gültige E-Mail ein.
                }
                {{ errorMessage }}
            </label>
         }
        <div class="input-area">
            <img src="./assets/img/mail.png" alt="">
            <input 
            #email="ngModel"
            [(ngModel)]="emailData.email"   
            pattern="^[a-zA-Z0-9][a-zA-Z0-9._%+\-]*@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
            required 
            name="email" 
            type="email" placeholder="E-Mail">
        </div>
        <h4 class="gray-font">Wir senden Ihnen eine E-Mail über die Sie Ihr Passwort ändern können</h4>
        <button class="gray-btn" type="submit" [disabled]="!emailForm.valid">E-Mail senden</button>
    </form>
</div>