@if(currentChannel!=null){
    <div class="chat-area-child">
        <div class="header-of-channel">
            <div class="header-of-channel-left">
                <h3># {{currentChannel.name}}</h3>
                <img (click)="openDetailsAboutChannel()" src="./assets/img/key_arrow_down.png" alt="">
            </div>
            @if(addMemberToChannel){
                <app-add-members-to-channel [currentChannel]="currentChannel" (closeDialogEvent)="addMembersToChannelDialog()"></app-add-members-to-channel>
            }
            @if(membersOfChannelList){
                <app-memberlist [currentChannel]="currentChannel" (closeDialogEvent)="openMembersList()" (openDetailsEvent)="openUserDetails($event)" (openAddMemberEvent)="addMembersToChannelDialog()"></app-memberlist>
            }
            @if(memberDetails){
                <app-member-details (goToPersonalMessagesEvent)="goToPersonalMessages()" (closeUserDetailsEvent)="openUserDetails($event)"  [currentProfileDetail]="currentProfileDetail"></app-member-details>
            }
            <div class="header-of-channel-right">
                <div class="members-pic">
                @for(item of currentChannel ? currentChannel.members: ["Lisa"]; track item){
                    <img (click)="openMembersList()" class="chnnl-memb-pic" src="{{item.fotolink}}" alt="profile">
                }
                </div>
                <h5 class="mmber-amount">{{currentChannel.membersAmount}}</h5>
                <img (click)="addMembersToChannelDialog()" src="./assets/img/add-members.png" alt="addMembers">
            </div>
        </div>
        <app-messages [currentChannel]="currentChannel" [userData]="userData"></app-messages>
        <form class="messages-form" [formGroup] ="sendMessageForm" (ngSubmit)="sendMessage()">
            <textarea formControlName="message" type="text" placeholder="Deine Nachricht hier eingeben">
            </textarea>
            <button type="submit">
                <img src="./assets/img/send.png" alt="send">
            </button>
        </form>   
    </div> 
    @if(openDetailsOfChannel){
        <app-details-of-channel (openChannelEvent)="openChannel($event)" (deleteChannelEvent)="deleteChannelAtUser()" (closeDetailsEvent)="openDetailsAboutChannel()" [currentChannel]="currentChannel"></app-details-of-channel>
    }
}   
@if(channelDeleted){
          <img src="./assets/img/close.png" alt="x">
          <h3>Sie haben den Channel # {{deletedChannelname}} erfolgreich gelöscht.</h3>
}

