@if(currentChannel!=null){
    <div class="chat-area-child">
        <div class="header-of-channel">
            <div class="header-of-channel-left">
                <h3># {{currentChannel.name}}</h3>
                <img (click)="openDetailsAboutChannel()" src="./assets/img/key_arrow_down.png" alt="">
            </div>
            @if(addMemberToChannel){
                <app-add-members-to-channel [currentChannel]="currentChannel" (closeDialogEvent)="addMembersToChannelDialog()"></app-add-members-to-channel>
            }
            @if(membersOfChannelList){
                <app-memberlist [currentChannel]="currentChannel" (closeDialogEvent)="openMembersList()" (openDetailsEvent)="openUserDetails($event)" (openAddMemberEvent)="addMembersToChannelDialog()"></app-memberlist>
            }
            @if(memberDetails){
                <app-member-details (goToPersonalMessagesEvent)="goToPersonalMessages()" (closeUserDetailsEvent)="openUserDetails($event)"  [currentProfileDetail]="currentProfileDetail"></app-member-details>
            }
            <div class="header-of-channel-right">
                <div class="members-pic">
                @for(item of currentChannel ? currentChannel.members: ["Lisa"]; track item){
                    <img (click)="openMembersList()" class="chnnl-memb-pic" src="{{item.fotolink}}" alt="profile">
                }
                </div>
                <h5 class="mmber-amount">{{currentChannel.membersAmount}}</h5>
                <img class="add-member-btn" (click)="addMembersToChannelDialog()" src="./assets/img/add-members.png" alt="addMembers">
            </div>
        </div>
        <app-messages [currentChannel]="currentChannel" [userData]="userData"></app-messages>
        @if(emojisOpen){
            <div class="emoji-picker">
                <emoji-mart
                    (emojiSelect)="addEmoji($event)"
                    [perLine]="9"
                    [emojiSize]="22"
                    [i18n]="{
                    categories: {
                        recent: 'Kürzlich',
                        smileys: 'Smileys',
                        people: 'Menschen',
                        animals: 'Tiere',
                        food: 'Essen',
                        activities: 'Aktivitäten',
                        travel: 'Reisen',
                        objects: 'Objekte',
                        symbols: 'Symbole',
                        flags: 'Flaggen'
                    },
                    search: 'Suchen'
                    }"
              ></emoji-mart>
              </div>
        }
        @if(markCorrespond){
            <div class="corresponds-mark">
                @for(item of currentChannel ? currentChannel.members: ["Lisa"]; track item; let idx = $index){
                    <div (click)="markPerson(idx)" class="correspond-name-img">
                        <img class="mmbr-of-chnnl-pic" src="{{item.fotolink}}" alt="">
                        <!-- <img src="" alt="online"> -->
                        <h4>{{item.name}}</h4>
                    </div>
                }
            </div>
        }
        <form class="messages-form" #sendMessageForm="ngForm" (ngSubmit)="sendMessage()">
            <textarea #message="ngModel" 
            [(ngModel)]="newMessage.message" name="message" type="text" placeholder="Deine Nachricht hier eingeben">
            </textarea>
            <div class="emoji-mark-send-buttons">
                <img (click)="showEmojis()" src="./assets/img/sentiment_satisfied.png" alt="emojis">
                <img (click)="showMarkableCorrespond()" src="./assets/img/alternate_email.png" alt="@">
                <button class="send-msg-btn" type="submit">
                    <img src="./assets/img/send.png" alt="send">
                </button>
            </div>
        </form>   
    </div> 
    @if(openDetailsOfChannel){
        <app-details-of-channel (openDetailsEvent)="openUserDetails($event)" (openAddMemberEvent)="addMembersToChannelDialog()" (openChannelEvent)="openChannel($event)" (deleteChannelEvent)="deleteChannelAtUser()" (closeDetailsEvent)="openDetailsAboutChannel()" [currentChannel]="currentChannel"></app-details-of-channel>
    }
}   
@if(channelDeleted){
          <img src="./assets/img/close.png" alt="x">
          <h3>Sie haben den Channel # {{deletedChannelname}} erfolgreich gelöscht.</h3>
}

