@import '../../../styles.scss';
@import '../main.component.scss';
.chat-channel-name{
    @include dFlex($jc:flex-start);
}
.chat-area-child{
    height:96%;
    position: relative;
    margin:2%;
}
.msg-sender-pic{
    width:70px;
    height:70px;
    border-radius: 100%;
    @media(max-width:800px){
        width:30px;
        height:30px;
    }
}
.header-of-channel{
    position: relative;
    @include dFlex($jc:space-between);
    border-bottom:2px solid #ECEEFE,
}
.header-of-channel-left{
    @include dFlex($g:8px);
}
.header-of-channel-right{
    @include dFlex();
}
.add-member-btn{
    width:40px;
    height:40px;
    @media(max-width:800px){
        width:24px;
        height:24px;
    }
}
.members-pic{
    @include dFlex($g:0px);
}
.chnnl-memb-pic:nth-of-type(n + 1){
    width:40px;
    height:40px;
    border-radius: 30px;
    border: 2px solid white;
    margin: 6px -8px 6px 0px;
    @media(max-width:800px){
        width:24px;
        height:24px;
    }
}
.chnnl-memb-pic{
    width:40px;
    height:40px;
    border-radius: 30px;
    border: 2px solid white;
}
.mmber-amount{
    padding:8px;
}
.msg-pic-and-text{
    @include dFlex($jc:flex-start);
}
.my-msg-pic-and-text{
    @include dFlex($jc:flex-start, $fd:row-reverse);
    width:100%;
}
.my-msg-text-area{
    width:80%;
    @include dFlex($ai:end, $fd:column);
}
.bg-light-blue{
    background-color: #0d1be039;
    border-radius: 50px;
}
.msg-text-area{
    width:80%;
    @include dFlex($ai:start, $fd:column);
    position: relative;
    &:hover{
        .reactions{
            display:flex;
        }
    }
}
.reactions{
    width:120px !important;
    height:30px !important;
    background-color: transparent;
    display:none;
    gap:16px;
    justify-content: space-between;
    transition: 100ms;
    transform: 125ms;
    border-radius: 25px;
}
.saved-reactions{
    width:120px;
    height:30px;
    background-color:transparent;
    @include dFlex($jc:start);
    transition: 100ms;
    transform: 125ms;
    border-radius: 25px;
}
.edit-backgroundcolor{
    background-color: #ECEEFE;
}
.msg-name-and-time{
    @include dFlex();
}
.my-msg-name-and-time{
    @include dFlex($fd:row-reverse)
}
.msg-message{
    border:0px none;
    border-top-right-radius: 30px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    background-color: #ECEEFE;
    padding:8px;
    max-width:fit-content;
    @media(max-width:800px){
        padding:0px;
    }
}
.my-msg-message{
    border:0px none;
    border-top-left-radius: 30px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    background-color: #797EF3;
    padding:8px;
    max-width:fit-content;
    @media(max-width:800px){
        padding:0px;
    }
}
.channel-chat{
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    height:80%;
    @media(max-width:800px){
       height: 84%; 
    }
    
}
.messages-form{
    @include dFlex($jc:space-around,$fd:column);
    height: 80px;
    border: 1px solid #ADB0D9;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 8px;
    >textarea{
        width:80%;
        height:80%;
        border:none;
        background-color: white;
    }
    @media(max-width:800px){
        bottom:3px;
        height:10%;
    }
}
.margin-5px{
    margin:5px;
}
.two-buttons-edit{
    @include dFlex($jc:space-around);
    width: 60%;
}
.emoji-two-buttons-edit{
    @include dFlex($jc:space-between);
    width:80%;
    padding: 8px;
}
.edit-msg{
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 6px 10px 0px #00000033;
    max-width: 100% !important;
    width: 100%;
    position:relative;
}
textarea{
    width: 90%;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    font-size: 12px;
    resize: none;
    font-family: 'Nunito';
}
.blue-btn-edit{
    font-size: 12px;
    width: auto;
    height: auto;
    padding: 4px;
    gap: 10px;
    border-radius: 25px;
    color:white;
    background-color: #444DF2;
    cursor: pointer;
    &:hover{
        scale:1.1;
        background-color: #0e1269;
        transition: 500ms;
    }
    &:disabled{
        border-color: rgba(227, 213, 213, 0.321);
        color:rgba(227, 213, 213, 0.321);
        scale:1.0;
        background-color: #444DF2;
    }
}
.white-btn-edit{
    font-size: 12px;
    width: auto;
    height: auto;
    padding: 4px;
    border-radius: 25px;
    border-color: #444DF2;
    color:#444DF2;
    background-color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    &:hover{
        transition: 500ms;
        scale: 1.1;
        background-color: #ECEEFE;
    }
}
.black-line{
    width:100%;
    height:2px;
    background-color: #ADB0D9;
    margin-top: 24px;
}
.date-label-div{
    position: relative;
    top: -16px;
    background-color: transparent;
    left: 0;
    right: 0;
    @include dFlex();
}
.date-label{
    background-color: white;
    max-width: fit-content;
}
.mmbr-details-img{
    position: relative;
    width:72px;
    height:72px;
    border-radius: 100%;
}
.mmbr-dtls-parent{
    position: absolute;
    width:414px;
    height:max-content;
    background-color: white;
    border: 0px white;
    border-top-left-radius: 30px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    box-shadow: 0px 6px 10px 0px #00000033;
    top:50px;
    right:50px;
    padding:40px;
    z-index:2;
    @include dFlex($fd:column, $g:20px, $ai:flex-start);
    @media(max-width:800px){
        width:auto;
        right:0px;
        left:0px;
    }
}
.mmbr-dtls-head{
    @include dFlex($jc:space-between);
    width:100%;
}
.emoji-mark-send-buttons{
    @include dFlex($g:16px, $jc:space-between);
    width:80%;
}
.send-msg-btn{
    width:auto;
    border:transparent;
    background-color: white;
    text-align: end;
}

.emoji-picker {
    position: absolute;
    bottom:10vH;
    left:0;
    right:4vW;
    width: 320px;
    height: 400px;
    overflow: scroll;
    border: 1px solid #ccc;
    @include dFlex();
    z-index:3;
    padding: 8px;
    scrollbar-width: none;
    background-color: white;
    border-radius: 20px;
    @media(max-width:500px){
        width:280px;
        height:200px;
        left:2vW;
    }
}

.emoji-picker-edit-m {
        position: absolute;
        top: -124px;
        left: 0;
        right: 0;
        width: 280px;
        height: 120px;
        overflow: scroll;
        border: 1px solid #ccc;
        display: flex; /* @include dFlex() wurde durch display: flex; ersetzt */
        z-index: 3;
        padding: 8px;
        scrollbar-width: none;
        background-color: white;
        border-radius: 20px;
        display: grid; /* Verwende CSS Grid für ein flexibles Layout */
        grid-template-columns: repeat(auto-fit, minmax(40px, 1fr)); /* Anpassbare Spaltenbreite */
        gap: 4px; /* Abstand zwischen den Emojis */
    @media(max-width:500px){
        width:220px;
        height:100px;
        left:2vW;
}
}

.corresponds-mark{
    position: absolute;
    bottom:10vH;
    left:0;
    right:4vW;
    max-width: 320px;
    max-height: 300px;
    overflow: scroll;
    border: 1px solid #ccc;
    @include dFlex($ai:flex-start, $fd:column);
    z-index:3;
    padding: 8px;
    scrollbar-width: none;
    background-color: white;
    border-radius: 20px;
    @media(max-width:500px){
        max-width:280px;
        max-height:200px;
        left:2vW;
    }
}
.correspond-name-img{
    @include dFlex($jc:flex-start, $g:16px);
    width:100%;
    >img{
        width:40px;
        height:40px;
        border-radius: 100%;
        @media(max-width){
            width:20px;
            height:20px;
        }
    }
}
.toggle-emoji-for-reaction{
    @include dFlex();
    width:auto;
    font-size:16px;
}
.emoji-mart-recent-reactions .emoji-mart-anchors,
.emoji-mart-recent-reactions .emoji-mart-category,
.emoji-mart-recent-reactions .emoji-mart-category-label,
.emoji-mart-recent-reactions .emoji-mart-search-icon,
.emoji-mart-recent-reactions .emoji-mart-preview,
.emoji-mart-recent-reactions .emoji-mart-search {
    display: none;
    
}
.emoji-mart-recent-reactions .emoji-mart,
.emoji-mart-recent-reactions .emoji-mart-dark,
.emoji-mart-recent-reactions emoji-category,
.emoji-mart-recent-reactions .emoji-mart-scroll,
.emoji-mart-recent-reactions{
    max-width:100px !important;
    width:100px;
}
.emoji-mart-recent-reactions [aria-label="Kürzlich"] button:nth-child(n + 4) {
    display: none !important; /* Versteckt alle Emojis ab dem 5. */
}
.emoji-mart-recent-reactions [aria-label="Kürzlich"]{
    max-height: 30px !important; 
    max-width:100px;
    display:block !important;
    overflow: hidden; /* Verhindert, dass Emojis über die max-height hinausgehen */
    white-space: nowrap;
}

emoji-mart{
    width:320px;
    height:400px;
    @media(max-width:500px){
        width:280px;
        height:200px;
    }
}
emoji-mart .emoji-mart-search-icon{
    background-color: white;
    border: 0px transparent;
}
emoji-mart .emoji-mart-anchors{
    @include dFlex($jc:flex-start, $g:4px);
}
emoji-mart .emoji-mart-preview,
.emoji-mart-category-label{
    display: none;
}

