/* You can add global styles to this file, and also import other style files */
@import './font.scss';
*body{
    margin:0;
    background-color:#ECEEFE ;
    max-height: 100vH;
}
@mixin dFlex($d:flex, $jc:center, $ai:center, $fd:row,$g:0px){
    display: $d;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
    gap:$g
}
h2{
    font-family: 'Nunito';
    font-size:46px;
    font-weight: 700;
    color: #444DF2;
    text-align: center;
}
h3{
    font-family: 'Nunito';
    font-size:32px;
    font-weight: 700;
    color: black;
    text-align: center;
}
h4{
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    // text-align: center;
}
input{
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    gap: 10px;
    border-radius: 100px;
    border: none;
    color:grey;
    background-color:transparent;
    padding-left: 25px;
    flex:1;
    >:active{
        border: none;
    }
}
.input-area{//input with img in a div
    background-color: #ECEEFE;
    @include dFlex($jc:flex-start);
    padding:8px 16px;
    border-radius: 100px;
    border: 0px 0px 1px 0px;
    width:80%;
}
.error-label{
    color:red;
    font-family: "Nunito";
    font-size: 18px;
    font-weight: 500;
}
form{
    @include dFlex($fd:column);
    gap:16px;
}
.blue-btn{
    width: 137px;
    height: 49px;
    padding: 12px 25px 12px 25px;
    gap: 10px;
    border-radius: 25px;
    color:white;
    background-color: #444DF2;
    cursor: pointer;
    >:hover{
        scale:1.1;
    }
}
.blue-btn:hover{
    transition: 500ms;
    scale: 1.1;
    background-color: #0e1269;
}
.white-btn{
    width: 137px;
    height: 49px;
    padding: 12px 25px 12px 25px;
    gap: 10px;
    border-radius: 25px;
    border-color: #444DF2;
    color:#444DF2;
    background-color: #FFFFFF;
    cursor: pointer;
    text-align: center;
}
.white-btn:hover{
    transition: 500ms;
    scale: 1.1;
    background-color: #ECEEFE;
}
.arrow-btn{
    background-color: transparent;
    border: none;
}
.arrow-btn:hover{
    scale:1.1;
}
.gray-btn{
    transition: 500ms;
    font-family: "Nunito";
    font-weight: 700;
    width: 137px;
    height: 49px;
    padding: 6px 25px 6px 25px;
    gap: 10px;
    border-radius: 25px;
    text-align: center;
    border-color: #444DF2;
    color:#444DF2;
    background-color: #ECEEFE;
    cursor: pointer;
}
.gray-btn:hover{
    transition: 500ms;
    background-color: #444DF2;
    color:white;
}
.gray-btn:disabled{
        background-color: #686868;
        cursor: not-allowed;
        border-color: #686868;
        color: white;
}