/* You can add global styles to this file, and also import other style files */
@import './font.scss';
*body{
    margin:0;
    background-color:#ECEEFE ;
    max-height: 100vH;
}
@mixin dFlex($d:flex, $jc:center, $ai:center, $fd:row,$g:0px){
    display: $d;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
    gap:$g
}
h1{
    font-family: 'Nunito';
    font-size:50px;
    font-weight: 700;
    color: black;
    text-align: center;
    margin:0px;
    @media(max-width:900px){
        font-size: 30px;
    }
}
h2{
    font-family: 'Nunito';
    font-size:46px;
    font-weight: 700;
    color: #444DF2;
    text-align: center;
    margin:0px;
    @media(max-width:900px){
        font-size: 26px;
    }
}
h3{
    font-family: 'Nunito';
    font-size:32px;
    font-weight: 700;
    color: black;
    text-align: center;
    margin:0px;
    @media(max-width:900px){
        font-size: 20px;
    }
}
h4{
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin:0px;
    padding-bottom:8px;
    @media(max-width:900px){
        font-size: 18px;
        padding-bottom: 0px;
    }
    @media(max-width:500px){
        font-size: 14px;
    }
}
h5{
    font-family: 'Nunito';
    font-size:20px;
    font-weight: 600;
    color: black;
    text-align: center;
    margin:0px;
    @media(max-width:900px){
        font-size: 18px;
    }
}
h6{
    font-family: 'Nunito';
    font-size:14px;
    font-weight: 400;
    color: #686868;
    text-align: center;
    margin:0px;
    @media(max-width:900px){
        font-size: 12px;
    }
}
.fs-18{
    font-size:18px !important;
}
input{
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    width:90%;
    border-radius: 100px;
    border: none;
    color:grey;
    background-color:transparent;
    flex:1;
    padding: 0px 1vW;
    >:active{
        border: none;
    }
    @media(max-width:900px){
        font-size: 14px;
    }
}
.input-area{//input with img in a div
    background-color: #ECEEFE;
    @include dFlex($jc:flex-start, $g:5px);
    padding:8px 16px;
    border-radius: 100px;
    border: 0px 0px 1px 0px;
    width:80%;
    @media(max-width:800px){
        padding:6px;
    }
}
.error-label{
    color:red;
    font-family: "Nunito";
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
form{
    @include dFlex($fd:column);
    gap:16px;
    width:100%;
}
.blue-btn{
    width: 137px;
    height: 49px;
    padding: 12px 25px 12px 25px;
    gap: 10px;
    border-radius: 25px;
    color:white;
    background-color: #444DF2;
    cursor: pointer;
    &:hover{
        scale:1.1;
        background-color: #0e1269;
        transition: 500ms;
    }
    &:disabled{
        border-color: rgba(227, 213, 213, 0.321);
        color:rgba(227, 213, 213, 0.321);
        scale:1.0;
        background-color: #444DF2;
    }
    @media(max-width:800px){
        height:auto;
        padding:6px;
        width:100px;
    }
}
.white-btn{
    width: 137px;
    height: 49px;
    padding: 12px 25px 12px 25px;
    border-radius: 25px;
    border-color: #444DF2;
    color:#444DF2;
    background-color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    &:hover{
        transition: 500ms;
        scale: 1.1;
        background-color: #ECEEFE;
    }
    @media(max-width:800px){
        height:auto;
        padding:6px;
        width:100px;
    }
}

.arrow-btn{
    background-color: transparent;
    border: none;
    &:hover{
       scale:1.1; 
    }
}
.gray-btn{
    transition: 500ms;
    font-family: "Nunito";
    font-weight: 700;
    height: 49px;
    padding: 6px 25px 6px 25px;
    gap: 10px;
    border-radius: 25px;
    text-align: center;
    border-color: #444DF2;
    color:#444DF2;
    background-color: #ECEEFE;
    cursor: pointer;
    &:hover{
        transition: 500ms;
        background-color: #444DF2;
        color:white;
    }
    &:disabled{
        background-color: #686868;
        cursor: not-allowed;
        border-color: #686868;
        color: white;
    }
    @media(max-width:800px){
        height:auto;
        padding:6px;
        // width:100px;
    }
}
.no-border-blue-btn{
    transition: 500ms;
    font-family: "Nunito";
    font-weight: 700;
    height: 49px;
    padding: 6px 25px 6px 25px;
    gap: 10px;
    border-radius: 25px;
    text-align: center;
    border-color: transparent;
    color:#444DF2;
    background-color: white;
    cursor: pointer;
    &:hover{
        transition: 500ms;
        background-color: white;
        color:#444DF2;
    }
    &:disabled{
        background-color: white;
        cursor: not-allowed;
        border-color: transparent;
        color: #686868;
    }
    @media(max-width:800px){
        height:auto;
        padding:6px;
    }
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.txt-center{
    text-align: center;
}
textarea:focus {
    outline: 2px solid #3399ff;
}