<!-- This component should open, when a new Account should be created -->
<div>
    <button class="arrow-btn" (click)="goBackToLogin()">
        <img src="/assets/img/arrow_back.png" alt="arrow">
    </button>
    <h2>Konto erstellen</h2>
</div>

<h4>Mit deinem Namen und deiner E-Mail Adresse hast du dein neues DA-Bubble Konto.</h4>

<form [formGroup] ="form" (ngSubmit)="onSubmit()">
    @if(errorMessage){
        <label>{{errorMessage}}</label>
    }
    <div class="input-area">
        <img src="/assets/img/person.png" alt="name">
        <input formControlName="name" type="text" placeholder="Name und Nachname">
    </div>
    @if(errorMessage){
        <label>{{errorMessage}}</label>
    }
    <div class="input-area">
        <img src="/assets/img/mail.png" alt="">
        <input formControlName="email" type="email" placeholder="E-Mail">
    </div>
    @if(errorMessage){
        <label>{{errorMessage}}</label>
    }
    <div class="input-area">
        <img src="/assets/img/lock.png" alt="">
        <input formControlName="password" type="password" placeholder="Passwort">
    </div>
    
    
    
    <div class="box-datasafety">
        <input type="checkbox">
        <p>Ich stimme der <a routerLink="datasafety">Datenschutzerklärung </a>zu</p>
    </div>
    <button class="blue-btn" type="submit">Weiter</button>

</form>