@import "../../../font.scss";
@import '../../../styles.scss';
.box-datasafety{
    @include dFlex($jc:flex-start);
    font-family: "Nunito";
    width:314px;
    >p{
        >a{
            color:blue;
            cursor: pointer;
        }
    }
    @media(max-width:500px){
        width:200px;
    }
}
.input-area {
    position: relative;
}
.toggle-password-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    background-color: #c7cdf8;;
    border: none;
    border-radius:50px;
    cursor: pointer;
  }