<!-- This component should open, when a new Account should be created -->
<div>
    <button class="arrow-btn" (click)="goBackToLogin()">
        <img src="./assets/img/arrow_back.png" alt="arrow">
    </button>
    <h2>Konto erstellen</h2>
</div>

<h4 class="txt-center">Mit deinem Namen und deiner E-Mail Adresse hast du dein neues DA-Bubble Konto.</h4>

<form #registerForm="ngForm" (ngSubmit)="onSubmit()">
    @if((name.touched && name.invalid)|| errorMessage){
        <label class="error-label">
            @if(!errorMessage){
                Bitte füge einen Vor- und Nachnamen mit Großbuchstabem am Anfang ein.
            }
            {{errorMessage}}</label>
    }
    <div class="input-area">
        <img src="./assets/img/person.png" alt="name">
        <input #name="ngModel" 
        [(ngModel)]="registerData.name" 
        name="name" type="text" placeholder="Name und Nachname"
        required
        pattern="^[A-ZÄÖÜ][a-zäöüß]+(?: [A-ZÄÖÜ][a-zäöüß]+)+$">
    </div>
    @if((email.touched && email.invalid)|| errorMessage){
        <label class="error-label">
        @if(!errorMessage){
            Bitte füge eine gültige E-Mail wie z.B beispiel&#64;mail.com ein.
        }
            {{errorMessage}}</label>
    }
    @if(errorMessageEmail){
        <label class="error-label">
            Diese Email wird bereits verwendet.
        </label>
    }
    <div class="input-area">
        <img src="./assets/img/mail.png" alt="">
        <input #email="ngModel" 
        [(ngModel)]="registerData.email" 
        name="email" type="email" placeholder="E-Mail"
        pattern="^[a-zA-Z0-9][a-zA-Z0-9._%+\-]*@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        required>
    </div>
    @if((password.touched && password.invalid) || errorMessage){
        <label class="error-label">
        @if(!errorMessage){
            Bitte füge ein gültiges Passwort mit 
            -mind. einem Großbuchstaben
            ,einem Kleinbuchstaben
            ,einer Zahl
            und 8 Zeichen
        }
        {{errorMessage}}
        </label>
    }
    <div class="input-area">
        <img src="./assets/img/lock.png" alt="">
        <input #password="ngModel" 
        [(ngModel)]="registerData.password" 
        [type]="showPassword ? 'text' : 'password'" 
        name="password" type="password" placeholder="Passwort"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        required>
        <button type="button" (click)="togglePasswordVisibility()" class="toggle-password-btn">
            <img [src]="showPassword ? './assets/img/visibility-on.png' : './assets/img/visibility-off.png'" 
            alt="Toggle Password Visibility">
        </button>
    </div>
    <div class="box-datasafety">
        <input name="checkbox" #checkbox = "ngModel" [(ngModel)]="registerData.pPolicyAccepted" type="checkbox" required>
        <p>Ich stimme der <a routerLink="datasafety">Datenschutzerklärung </a>zu</p>
    </div>
    <button [disabled]="registerForm.invalid" class="blue-btn" type="submit">Weiter</button>
</form>